@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,700);
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    color: #3A4D61;
    background-color: #566473;
}

header {
    margin: auto;
    padding: 20px 0px;
}
header .logo {
    display: inline-block;
    vertical-align: middle;
}
header .logo a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 35px;
    font-weight: 800;
}
header .banner-ad-space {
    margin-top: 15px;
    display: block;
    text-align: center;
    overflow: hidden;
}
header .nav {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
header .nav a {
    -webkit-transition: all 450ms ease;
    transition: all 450ms ease;
    color: #3A4D61;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    border-right: 1px solid rgba(0,0,0,0.8);
    
}
header .nav a:last-child {
    border-right: none;
}
header .nav a:hover {
    background-color: rgba(255,255,255,1);
}
.youtube-360 {
    max-width: 640px;
    max-height: 360px;
    margin: auto;
}
.youtube-480 {
    max-width: 850px;
    max-height: 480px;
    margin: auto;
}
p {
    line-height: 1.5;
    margin: 20px auto;
}
p.overflow {
    auto;
}
p.left {
    text-align: left;
}
p.center {
    text-align: center;
}
p.justify {
    text-align: justify;
}
p.right {
    text-align: right;
}
.img-responsive {
    display: inline-block;
}
img.fl-left {
    float: left;
    margin-right: 15px;
}
img.fl-right {
    float: right;
    margin-left: 15px;
}