/* Initial Screen */
.first-screen {
    height: 900px;
    margin-top: -8px;
    background: url(../images/map.jpg) no-repeat 50% 50%;
}

/* Main Navigation Links */
.codrops-demos a:hover {
    animation-duration: 500ms;
    animation-fill-mode: both;
    animation-delay: 10ms;
    animation-name: jello;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.9);
}
.related {
    background-color: #566473;
}
.related a:hover {
    opacity: 1;
    color: #576475;
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.65) 100%);
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5);
    transition: opacity 0.5s ease-in-out;
}

.related a:hover img {
    
}
.related a:hover h3 {
    animation-duration: 500ms;
    animation-fill-mode: both;
    animation-delay: 400ms;
    animation-name: flash;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

/* Perspective Menu CSS */
.outer-nav {
    z-index: 99;
}
.outer-nav a {
    color: white;
}
.effect-rotatetop .outer-nav a:hover {
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.9);
}
.effect-rotatetop .outer-nav a:hover span {
    animation: swing 500ms both;
}

