<!DOCTYPE html>
<html lang="en">
<head>
{{> ../pixels/header_core-facebook.html }}
    <base href="" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="amphtml" href="http://rtb.cat/m/#about-us" />
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
    <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
    <link rel="stylesheet" type="text/css" href="plugins/tooltip/css/tooltip-classic.css" />
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
</head>
<body>
    <!-- Megamenu HTML Tags -->
    {{> ../partials/megamenu_html.html }}
    <main>
        <div class="width-constrainer">
            <h1 class="page-title">About Us</h1>
            <p class="left max-850">
                We are 1 head of client relations/owner, 8 developers, 1 book-keeper and 1 office manager.
                Our services revolve around AdOps, OpenRTB integration, access to the ad exchanges and negotiating dealID's.
                <b>Since June 2004 we have provided absolutely Premium inventory</b>, with some highly exclusive publishers. Our long-term relationships with publishers ensure your media-buys have a much better chance of performing as intended.
            </p>
            <h2>Principals</h2>
            <p class="left max-850">
                Jen Brannstrom, customer support/founder <a href="https://uk.linkedin.com/in/jenbrannstrom">linkedin</a><br>
                Frank Rosquin, systems architect <a href="https://be.linkedin.com/in/frosquin">linkedin</a><br>
                Andrii Perhun, DBA and dev lead <a href="https://ua.linkedin.com/in/andrii-perkhun-89812256">linkedin</a>
            </p>
            <h2>Company Incorporation Details</h2>
            <p class="left max-850">
                External Viewpoint Consulting Ltd. t/a RTBcat, Crown House, 37 High Street, East Grinstead, W. Sussex RH19 3EL, UK
                Companies House registration No. 5157013
            </p>
            <p class="left max-850">
                Please use the webform to <a href="contact.html">contact</a> us - it really helps reduce spam. 
            </p>
        </div>
    </main>
    <footer>&nbsp;</footer>
    <script src="libs/jquery-1.11.3.min.js"></script>
    <!-- Megamenu JS Tags -->
    {{> ../partials/megamenu_js.html }}
<!-- Tracking Pixels -->
{{> ../pixels/body_page_view-amazon_uk.html }}
{{> ../pixels/body_page_view-amazon_us.html }}
{{> ../pixels/body_page_segment-appnexus.html }}
{{> ../pixels/body_page_view-facebook.html }}
{{> ../pixels/body_page_view-google.html }}
{{> ../pixels/body_page_view-twitter.html }}
</body>
</html>