<!DOCTYPE html>
<html lang="en">

<head>
    <base href="" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title - Tamplate</title>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
    <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
    <link rel="stylesheet" type="text/css" href="plugins/tooltip/css/tooltip-classic.css" />
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
</head>

<body>
    <!-- Megamenu HTML Tags -->
    {{> ../partials/megamenu_html.html }}
    <main>
        <div class="width-constrainer">
            <h1 class="page-title">AppNexus Co-Pilot</h1>
            <p class="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum velit ultricies dui vulputate convallis. Donec congue leo quis nulla accumsan, non vehicula leo rutrum. Mauris a nulla a felis vestibulum mattis. Integer a lacus non dui
                eleifend tristique. In eget hendrerit erat. Aliquam in diam ac
                <span class="tooltip tooltip-effect-1">
                        <span class="tooltip-item">Euclid</span>
                <span class="tooltip-content clearfix">
                            <img src="plugins/tooltip/img/Euclid.png" />
                            <span class="tooltip-text">
                                <strong>Euclid</strong>, also known as Euclid of Alexandria, was a Greek mathematician, often referred to as the "Father of Geometry". He was active in Alexandria during the reign of Ptolemy I. 
                                <a href="http://en.wikipedia.org/wiki/Euclid">Wikipedia</a>
                            </span>
                </span>
                </span>
                elit laoreet pellentesque nec sed sapien. Cras cursus lorem nec
                <span class="tooltip tooltip-effect-2">
                        <span class="tooltip-item">quasar</span>
                <span class="tooltip-content clearfix">
                            <img src="plugins/tooltip/img/Quasar.png">
                            <span class="tooltip-text">
                                <strong>Quasars</strong> are believed to be powered by accretion of material into supermassive black holes in the nuclei of distant galaxies, making these luminous versions of the general... 
                                <a href="http://en.wikipedia.org/wiki/Quasar">Wikipedia</a>
                            </span>
                </span>
                </span>
                magna ullamcorper, non tempus diam dictum. Morbi quis velit at orci semper sagittis. Aliquam molestie quam id ipsum facilisis viverra. Maecenas posuere libero nec velit sagittis, a egestas tellus pretium. Cras ornare dolor nec dui hendrerit, eu fermentum
                lorem tempus.
            </p>
            <h2>Heading 2</h2>
            <p class="justify">
                Nulla vel nisi egestas, porta lectus
                <span class="tooltip tooltip-effect-3">
                        <span class="tooltip-item">Euclid</span>
                <span class="tooltip-content clearfix">
                            <img src="plugins/tooltip/img/Euclid.png" />
                            <span class="tooltip-text">
                                <strong>Euclid</strong>, also known as Euclid of Alexandria, was a Greek mathematician, often referred to as the "Father of Geometry". He was active in Alexandria during the reign of Ptolemy I. 
                                <a href="http://en.wikipedia.org/wiki/Euclid">Wikipedia</a>
                            </span>
                </span>
                </span>
                vel, ultricies elit. Aenean in molestie dui, vel ultrices leo. Nam hendrerit massa sed orci vehicula, vitae consequat eros ultrices. Aenean vel sem convallis dolor tincidunt lobortis. Vivamus et magna mi. Proin viverra, ex ut volutpat aliquam, lectus
                mauris hendrerit libero, vel euismod risus mi at ex. Sed porta vitae metus id euismod. Nunc dictum egestas enim, sit amet ornare dui placerat at. Suspendisse interdum sapien vitae dignissim rhoncus. Nam faucibus lacus congue, consectetur
                lacus sit amet, dictum est. Maecenas in mauris at tortor tristique tempor ut sed tortor. Curabitur eget consequat lectus. Donec ac malesuada nibh. Fusce vitae luctus est. Nulla eu massa porttitor, varius mauris nec, imperdiet sapien.
            </p>
            <h3>Heading 3</h3>
            <p class="justify">
                Sed volutpat magna non orci aliquet molestie. Phasellus at ipsum
                <span class="tooltip tooltip-effect-4">
                        <span class="tooltip-item">quasar</span>
                <span class="tooltip-content clearfix">
                            <img src="plugins/tooltip/img/Quasar.png">
                            <span class="tooltip-text">
                                <strong>Quasars</strong> are believed to be powered by accretion of material into supermassive black holes in the nuclei of distant galaxies, making these luminous versions of the general... 
                                <a href="http://en.wikipedia.org/wiki/Quasar">Wikipedia</a>
                            </span>
                </span>
                </span>
                quam. Mauris varius, elit et venenatis dignissim, risus nunc pretium ex, ut auctor risus ex vitae augue. Maecenas iaculis magna ex, eu egestas ex convallis ut. Vivamus condimentum odio a mauris finibus, vel efficitur erat dictum. Ut nec vehicula enim,
                sed aliquam eros. Nam nec euismod nulla, at aliquam nunc. Phasellus ligula justo, fringilla id blandit quis, feugiat id mauris. Pellentesque aliquet tortor at pretium cursus. Integer consectetur ligula nec sagittis fermentum. Quisque dignissim
                lectus vel velit cursus, ultricies feugiat dolor scelerisque.
            </p>
            <p class="justify">
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In aliquet feugiat
                <span class="tooltip tooltip-effect-5">
                        <span class="tooltip-item">Euclid</span>
                <span class="tooltip-content clearfix">
                            <span class="tooltip-text">
                                <strong>Euclid</strong>, also known as Euclid of Alexandria, was a Greek mathematician, often referred to as the "Father of Geometry". He was active in Alexandria during the reign of Ptolemy I. 
                                <a href="http://en.wikipedia.org/wiki/Euclid">Wikipedia</a>
                            </span>
                </span>
                </span>
                consectetur. Vivamus vel erat ullamcorper, finibus elit et, fermentum elit. Praesent non maximus purus. Maecenas sodales vehicula lacus ac bibendum. Proin condimentum eros metus, non porta elit viverra et. Sed vulputate sapien id mollis tristique. Quisque
                ac convallis orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at placerat ante. Duis convallis elit eget eros eleifend, et scelerisque nisi blandit. Donec id pharetra ipsum. Vestibulum arcu nisl, interdum pellentesque
                sollicitudin ut, accumsan in velit.
            </p>
        </div>
    </main>
    <footer>&nbsp;</footer>
    <script src="libs/jquery-1.11.3.min.js"></script>
    <!-- Megamenu JS Tags -->
    <script src="plugins/megamenu/js/jquery.easing.js"></script>
    <script src="plugins/megamenu/js/megamenu_plugins.js"></script>
    <script src="plugins/megamenu/js/megamenu.min.js"></script>
    <script>
        $(document).ready(function($) {
            $('.megamenu').megaMenuReloaded({
                menu_speed_show: 300, // Time (in milliseconds) to show a drop down
                menu_speed_hide: 200, // Time (in milliseconds) to hide a drop down
                menu_speed_delay: 200, // Time (in milliseconds) before showing a drop down
                menu_effect: 'open_close_slide', // Drop down effect, choose between 'hover_fade', 'hover_slide', 'click_fade', 'click_slide', 'open_close_fade', 'open_close_slide'
                menu_easing: 'jswing', // Easing Effect : 'easeInQuad', 'easeInElastic', etc.
                menu_click_outside: 1, // Clicks outside the drop down close it (1 = true, 0 = false)
                menu_show_onload: 1, // Drop down to show on page load (type the number of the drop down, 0 for none)
                menubar_trigger: 0, // Show the menu trigger (button to show / hide the menu bar), only for the fixed version of the menu (1 = show, 0 = hide)
                menubar_hide: 0, // Hides the menu bar on load (1 = hide, 0 = show)
                menu_responsive: 1, // Enables mobile-specific script
                menu_carousel: 0, // Enable / disable carousel
                menu_carousel_groups: 0 // Number of groups of elements in the carousel
            });
        });

        function goFullScreen(id) {
            var el = document.getElementById(id);
            if (el.requestFullscreen) {
                el.requestFullscreen();
            } else if (el.webkitRequestFullscreen) {
                el.webkitRequestFullscreen();
            } else if (el.mozRequestFullScreen) {
                el.mozRequestFullScreen();
            } else if (el.msRequestFullscreen) {
                el.msRequestFullscreen();
            }
        }

        function exitFullScreen() {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            }
        }
    </script>
</body>

</html>