<!DOCTYPE html>
<html lang="en">

<head>
{{> ../pixels/header_core-facebook.html }}
    <base href="" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campaign Co-Pilot</title>
    <link rel="amphtml" href="http://rtb.cat/m/#products" />
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
    <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
    <link rel="stylesheet" type="text/css" href="plugins/tooltip/css/tooltip-classic.css" />
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
</head>

<body>
    <!-- Megamenu HTML Tags -->
    {{> ../partials/megamenu_html.html }}
    <main>
        <div class="width-constrainer">
            <h1 class="page-title">Campaign Co-Pilot</h1>
            <p class="left max-900">
                The Campaign Co-Pilot lets you:
            </p>
            <ul>
                <li>Create your own Rules to manage AppNexus' traffic.</li>
                <li>Auto-blacklist based on CPM, CTR, CPA, CPC, or <a href="fill-rate-tool.html">fill-rate for video</a>.</li>
            </ul>
            <p class="left max-900">
                Our inventory includes more than 800 networks at your fingertips (similar to other self serve DSP’s with a few additional medium-size exchanges and publishers). The real benefit of the co-pilot is workflow efficiency.
            </p>
            <img src="images/products/ui.png" style="float:right">
            <p class="left max-900">
                Large budgets have already been spent to create whitelists. This means you will buy only the highest quality placements.
            </p>
            <p><span style="padding: 20px 0px;font-size: 24px;font-weight: 500">Reporting with automatic Pivot-tables</span></p>
            <p class="left max-900">
                CPA's are automatically calculated on yesterday's performance. Analytics on the APNX console is essentially CSV-only, which is why we built our stats UI & automatic pivot-tables. 
"CPA-buckets" are generated per: placement or domain, creative, creative size, Carrier, Seller/Network/Exchange.
            </p>
            <p class="left max-900">
                In the blink of an eye you can see CPA’s, P/L, or for video fill-rate
Using our Rule-based optimiser and ad-start API ensures your CPM bids are automatically updated and the campaign is kept profitable.
            </p>
        </div>
    </main>
    <footer>&nbsp;</footer>
    <script src="libs/jquery-1.11.3.min.js"></script>
    <!-- Megamenu JS Tags -->
    {{> ../partials/megamenu_js.html }}

<!-- Tracking Pixels -->
{{> ../pixels/body_page_view-amazon_uk.html }}
{{> ../pixels/body_page_view-amazon_us.html }}
{{> ../pixels/body_page_segment-appnexus.html }}
{{> ../pixels/body_page_view-facebook.html }}
{{> ../pixels/body_page_view-google.html }}
{{> ../pixels/body_page_view-revcontent.html }}
{{> ../pixels/body_page_view-twitter.html }}
</body>

</html>