<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
{{> ../pixels/header_core-facebook.html }}
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Send Us a Message</title>
	<link rel="amphtml" href="http://rtb.cat/m/contact-us.html" />
	<meta name="description" content="contact rtb.cat" />
	<meta name="keywords" content="contact, rtb, programmatic advertising" />
	<meta name="author" content="rtb.cat" />
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700">
    <link rel="stylesheet" type="text/css" href="css/contact.min.css" />
</head>
<body>
	<div id="contact_container" class="container">

        <div class="fs-form-wrap" id="fs-form-wrap">
            <div class="fs-title">
                <h1>Contact Us</h1>
            </div>
            <form id="myform" class="fs-form fs-form-full" autocomplete="off">
                <ol class="fs-fields">
                    <li>
                        <label class="fs-field-label fs-anim-upper" for="q1">What's your name?</label>
                        <input class="fs-anim-lower" id="q1" name="name" type="text" placeholder="your name" required/>
                    </li>
                    <li>
                        <label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">What's your email address?&nbsp;</label>
                        <input class="fs-anim-lower" id="q2" name="email" type="email" placeholder="email@domain.us" required/>
                    </li>
                    <li data-input-trigger>
                        <label class="fs-field-label fs-anim-upper" for="q3" data-info="This will help us understand what kind of service you need">Are you looking to buy:?&nbsp;</label>
                        <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                            <span title="Click to select or deselect.">
                                <span class="icon">
                                    <i class="fa fa-film" aria-hidden="true"></i>
                                </span>
                                <input id="q1b" name="type[]" type="checkbox" value="VAST"/>
                                <label for="q1b" class="for-checkbox">VAST/VPAID</label>
                            </span>
                            <span title="Click to select or deselect.">
                                <span class="icon">
                                    <i class="fa fa-image" aria-hidden="true"></i>
                                </span>
                                <input id="q2b" name="type[]" type="checkbox" value="In-banner Video"/>
                                <label for="q2b" class="for-checkbox">In-banner Video</label>
                            </span>
                            <span title="Click to select or deselect.">
                                <span class="icon">
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                </span>
                                <input id="q3b" name="type[]" type="checkbox" value="In-app Display"/>
                                <label for="q3b" class="for-checkbox">In-app Display</label>
                            </span>
                            <span title="Click to select or deselect.">
                                <span class="icon">
                                    <i class="fa fa-tablet" aria-hidden="true"></i>
                                </span>
                                <input id="q4b" name="type[]" type="checkbox" value="Mobile Web"/>
                                <label for="q4b" class="for-checkbox">Mobile Web</label>
                            </span>
                            <span title="Click to select or deselect.">
                                <span class="icon">
                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                </span>
                                <input id="q5b" name="type[]" type="checkbox" value="Desktop"/>
                                <label for="q5b" class="for-checkbox">Desktop</label>
                            </span>
                            <span title="Click to select or deselect.">
                                <span class="icon">
                                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                </span>
                                <input id="q6b" name="type[]" type="checkbox" value="Native"/>
                                <label for="q6b" class="for-checkbox">Native</label>
                            </span>
                        </div>
                    </li>
                    <li>
                        <label class="fs-field-label fs-anim-upper" for="q4">How can we help you?</label>
                        <textarea class="fs-anim-lower" id="q4" name="message" placeholder="I would like to scale..." required></textarea>
                    </li>
                </ol><!-- /fs-fields -->
                <button class="fs-submit" type="submit">Send</button>
            </form><!-- /fs-form -->
        </div><!-- /fs-form-wrap -->
    </div><!-- /container -->

    <!-- Modals -->
    <div class="modal" id="message_box">
        <div class="dialog">
            <div class="dialog-head">Message</div>
            <div class="dialog-body message">
                Default message.
            </div>
            <div class="dialog-foot">
                <button role="ok">Ok</button>
            </div>
        </div>
    </div>

	<script src="libs/jquery-1.11.3.min.js"></script>
	<script src="plugins/modernizr/modernizr.custom.js"></script>
    <script src="js/FForm.js"></script>
	<script>
        var message_box = {
            open : function(message,fx){
                $("#message_box .message").text(message);
                $("#message_box").css("display","block");
                $("#message_box button[role='ok']").unbind().click(function(){if(fx){fx()};message_box.close()});
            },
            close : function(){
                $("#message_box").css("display","none");
            }
        }

		function load_JS(filename){
			var script_tag = document.createElement('script');
			script_tag.setAttribute("type","text/javascript");
			script_tag.setAttribute("src", filename);
		}

        // FForm display logic.
		(function() {
			var formWrap = document.getElementById( 'fs-form-wrap' );

			[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
				new SelectFx( el, {
					stickyPlaceholder: false,
					onChange: function(val){
						document.querySelector('span.cs-placeholder').style.backgroundColor = val;
					}
				});
			} );

			new FForm( formWrap, {
				onReview : function() {
					classie.add( document.body, 'overview' );
				}
			} );
		})();

		;(function($) {
            var __utmz = (document.cookie.match('(^|; )__utmz=([^;]*)')||0)[2];
            var c_src = "NA"; // campaign source
            var c_med = "NA"; // campaign medium
            var c_nme = "NA"; // campaign name
            var c_trm = "NA"; // paid keywords
            var c_con = "NA"; // campaign content
            function getParam(param){
                return (__utmz.match(param+'=([^\|]*)')||0)[1];
            }

            console.log(__utmz);

            if(__utmz) {
                c_src = (getParam('utmcsr')||"NA"); // campaign source
                c_med = (getParam('utmcmd')||"NA"); // campaign medium
                c_nme = (getParam('utmccn')||"NA"); // campaign name
                c_trm = (getParam('utmctr')||"NA"); // paid keywords
                c_con = (getParam('utmcct')||"NA"); // campaign content
            }
                
            $('#myform [name="source"]').val(c_src);
            $('#myform [name="medium"]').val(c_med);
            $('#myform [name="c_name"]').val(c_nme);
            $('#myform [name="s_term"]').val(c_trm);
            $('#myform [name="content"]').val(c_con);

            $("#myform").submit(function(e) {
                e.preventDefault();
                var data = $(this).serialize();
                $("#contact_container").css("opacity", "0");
                $.ajax({
                    method: 'POST',
                    url: 'http://lat.com.es/ci/contact/jen/',
                    data: data,
                    error: function(jqXHR,textStatus,errorThrown){
                        message_box.open("Server communication error. Please send your message to jen@rtb.cat. \n Thanks!",function(){window.location = "index.html"});
                    },
                    success: function(response) {
                        var reply = response;
                        if (reply.status == "success") {
                            $("#contact_container").css("opacity", "1");
                            top.location = "thank-you.html";
                        }
                    }
                });
            });
        }(jQuery))
	</script>

<!-- Tracking Pixels -->
{{> ../pixels/body_page_view-amazon_uk.html }}
{{> ../pixels/body_page_view-amazon_us.html }}
{{> ../pixels/body_page_segment-appnexus.html }}
{{> ../pixels/body_page_view-facebook.html }}
{{> ../pixels/body_page_view-google.html }}
{{> ../pixels/body_page_view-revcontent.html }}
{{> ../pixels/body_page_view-twitter.html }}
</body>
</html>
