<!DOCTYPE html>
<html lang="en">

<head>
{{> ../pixels/header_core-facebook.html }}
    <base href="" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fill Rate Tool</title>
    <link rel="amphtml" href="http://rtb.cat/m/#products" />
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
    <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
    <link rel="stylesheet" type="text/css" href="plugins/tooltip/css/tooltip-classic.css" />
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
</head>

<body>
    <!-- Megamenu HTML Tags -->
    {{> ../partials/megamenu_html.html }}
    <main>
        <div class="width-constrainer">
            <h1 class="page-title">For In-banner Video Buying</h1>
            <p class="left max-800">
                A special tool to optimise for fill-rate or video-starts is available to selected clients. 
                If you require in-banner video that optimises between the parameters:
            </p>
            <ul>
                <li>Fill-rate(ad-starts) vs.</li>
                <li>Payout vs.</li>
                <li>CPM,</li>
            </ul>
            <p class="left max-800">
                then this tool is for you.
            </p>
            <p class="left max-800">
                This tool is custom built on top of the AppNexus API. Once you have set your payout rate, the tool optimizes according to the ad-starts that are reported to our <a href="https://rtbcat.atlassian.net/wiki/display/RCHW/Video-Start+Tracker">“ad-start API”</a>. 
            </p>
            <p class="left max-800">
                The CPM-bid is then adjusted at either a domain or 
                <span class="tooltip tooltip-effect-5">
                <span class="tooltip-item">placement</span>
                <span class="tooltip-content clearfix">
                    <span class="tooltip-text">A specific ad-spot on a page, as opposed to generally targeting a domain’s URL.</span>
                </span>
                 level.
            </p>
            <p class="left max-800">Additional targeting such as GEO, Carrier, etc fall under the usual campaign-settings.</p>
            <p class="left max-800">Inventory for in-banner video: 800+ exchanges, sellers &amp; publishing houses.</p>
            <p class="left max-800">
            Current integration: cedato callback decryption <a href="files/Encryption%20Key%20for%20callbacks%20mechanism.pdf">(PDF)</a>.</p>
            <p class="right max-800"><a style="font-size: 24px" href="contact.html">Click here to request access.</a></p>
        </div>
    </main>
    {{> ../partials/footer.html }}
    <script src="libs/jquery-1.11.3.min.js"></script>
    <!-- Megamenu JS Tags -->
    {{> ../partials/megamenu_js.html }}

<!-- Tracking Pixels -->
{{> ../pixels/body_page_view-amazon_uk.html }}
{{> ../pixels/body_page_view-amazon_us.html }}
{{> ../pixels/body_page_segment-appnexus.html }}
{{> ../pixels/body_page_view-facebook.html }}
{{> ../pixels/body_page_view-google.html }}
{{> ../pixels/body_page_view-revcontent.html }}
{{> ../pixels/body_page_view-twitter.html }}
</body>

</html>