<!DOCTYPE html>
<html lang="en">
<head>
{{> ../pixels/header_core-facebook.html }}
    <base href="" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Programmatic TV Glossary</title>
    <link rel="amphtml" href="http://rtb.cat/m/#about-us" />
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
    <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
    <link rel="stylesheet" type="text/css" href="plugins/tooltip/css/tooltip-classic.css" />
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
</head>
<body>
    <!-- Megamenu HTML Tags -->
    {{> ../partials/megamenu_html.html }}
    <main>
        <div class="width-constrainer">
            <h1 class="page-title">Programmatic TV Glossary</h1>
            <h3>Programmatic TV</h3>
            <p class="left max-850">
                TV inventory planned, bought and sold on impressions using system automation with the use of advanced audience data,
                creating value and operational efficiency for both the buy and sell sides.
            </p>
            <h3>RTB</h3>
            <p class="left max-850">
                Real-time offers for inventory, from multiple buyers, on an impression by impression basis creating a marketplace for advertisers to bring their own audience/customer data to TV advertising. In linear TV, this does not result in instant ads like in the digital marketplace. For linear TV, the ad delivery is subject to the cycle of a TV traffic system, most likely resulting in daily not-real time delivery.
            </p>
            <h3>Broadcast Addressable TV</h3>
            <p class="left max-850">
                One to one household targeting of advertising on TV - across all TV screens (Linear TV, TVE, VOD and SVOD).
            </p>
            <h3>Broadcast TV</h3>
            <p class="left max-850">
                A television broadcast (noun) is a program that is transmitted one-to-many over airwaves for public reception by anyone with a receiver tuned to the right signal channel. Because it uses the public airwaves, it is subject to regulation by the FCC; signal can  be allowed to be retransmitted by the owner through other means beyond the airwaves, like a cable or satellite system. 
            </p>
            <h3>Connected TV</h3>
            <p class="left max-850">
                A smart TV set or set top box, sometimes referred to as connected TV or hybrid TV, is a television set or set-top box with integrated Internet connectivity and features that can receive video programming through an open IP method outside of the traditional cable QAM transport, and is an example of technological convergence between computers, televisions and set-top boxes. Some examples include Roku, Apple TV, Chromecast, Samsung SmartTV, etc.
            </p>
            <h3>Auction</h3>
            <p class="left max-850">
                The practice of allowing multiple buyers to  value and bid on a singular ad opportunity leveraging 1st, 2nd or 3rd party data within a pre-fulfillment window. The concept of auction is different in TV than it is in digital. Auctions live on a spectrum of totally open and highly controlled bidding rules and publisher controls  delivering value for both the buy and sell side.
            </p>
            <h3>Geo Targeting (Zoning)</h3>
            <p class="left max-850">
                Geo-Targeting and  zoning, sometimes used interchangeably, involve the practice of reaching  a geographically-defined universe through cable zones, creative versioning (AdTag/AdCopy), or household aggregation. Identifying optimal audience concentration of media plan and executing a buy against such plan.
            </p>
            <h3>Raw Data</h3>
            <p class="left max-850">
                Source-level data that does not conform to an acceptable standard of parameterization or  taxonomy. RAW data is data being generated, before any data science is applied (human or machine).
            </p>
            <h3>Optimization</h3>
            <p class="left max-850">
                The process of changing the current inventory mix to improve a certain metric that improves  the campaign’s potential to meet its desired objective or outcome.
            </p>
            <h3>SVOD</h3>
            <p class="left max-850">
                Subscription VOD (SVOD) services use a subscription business model, where subscribers are charged a monthly fee to access programing. These services include solutions like Netflix, Hulu Plus, Amazon Video and HBO.
            </p>
            <h3>Unicast TV</h3>
            <p class="left max-850">
                A one-to-one model of content distribution to a Television screen (TV, Mobile Device, PC,  Tablet), generally targeted using audience data.
            </p>
            <h3>OTT</h3>
            <p class="left max-850">
                Over The Top - Content delivered over the internet, outside of a managed network (e.g.  MVPD). ASVOD Ad Supported Streaming Video On Demand.
            </p>
            <h3>Advanced Targeting Data</h3>
            <p class="left max-850">
                Advanced Data (or audience data) is a data set used for the purposes of making ad decisions beyond what can be leveraged from age and gender. It may include the use of 1st, 2nd and  3rd party audience data for buying and targeting. 
            </p>
            <h3>Television</h3>
            <p class="left max-850">
                Programming feed that is packaged, created and distributed through various delivery means to various devices - this may include a TV set, a mobile device, PC or tablet.
            </p>
            <h3>Short Form Video</h3>
            <p class="left max-850">
                Video content with a length less than that of traditional episodic TV programs (i.e. 22 minutes).
            </p>
            <h3>Long Form Video</h3>
            <p class="left max-850">
                Video content that hews to traditional episodic lengths of 30 minute or longer increments.
            </p>
            <h3>1st Party Data</h3>
            <p class="left max-850">
                Data collected and owned by the party who collected it (brand, etc.) about the consumer or household. This could include CRM data or data generated by digital properties, such as “this person uses my mobile app”, (“this person has been browsing for minivans on my web site”). This data is proprietary and not available in the marketplace due to limits on its use.
            </p>
            <h3>3rd Party Data</h3>
            <p class="left max-850">
                Proprietary data collected/generated by data brokers who license this data to advertisers or publishers.
            </p>
            <h3>2nd Party Data</h3>
            <p class="left max-850">
                Data collected/generated and owned by the publisher, made available to the buyer at the time of purchase. Could include consumer or household data that the publisher knows, or simply data about context/content.
            </p>
            <h3>FEP</h3>
            <p class="left max-850">
                Full Episode Player - features an epsiode of a program that may have previously aired on TV.
            </p>
            <h3>VOD</h3>
            <p class="left max-850">
                Video on demand (VOD) systems allow users to watch video content when they choose to, rather than having to watch at a specific broadcast time.
            </p>
            <h3>Transparency</h3>
            <p class="left max-850">
                To be considered transparent, a solution provider must fully disclose all components of the buy including pricing, any related mark ups, delivery, placement level media location, inventory type, inventory mix and how advanced audience data is being applied and reported. 
Arbitrage and black box inventory solutions are not transparent.
            </p>
            <h3>Programmatic Buying</h3>
            <p class="left max-850">
                Programmatic buying is the process of executing media planning and buying transparently, using automation and in most cases, the use of advanced audience data through digital platforms such as: exchanges, trading desks, and demand-side platforms (DSPs), creating operational efficiency for both the buy and sell sides.
            </p>
            <h3>Streaming Device</h3>
            <p class="left max-850">
                Any internet-enabled device capable of receiving and displaying IP-distributed longform  content in its native resolution. Internet television (or online television) is the digital distribution of television content via the public Internet (which also carries other types of  data), as opposed to dedicated terrestrial television, cable television, and satellite television systems which only carry video.
            </p>
            <h3>Live Streaming</h3>
            <p class="left max-850">
                Live streaming, which refers to content delivered live over the Internet, requires a form of  source media (e.g. a video camera, an audio interface, screen capture software), an encoder to digitize the content, a media publisher, and a content delivery network to distribute and deliver the content.
Some examples of Live Streaming in TV include Sling TV, Live Content on CBS All Access, NBC streaming of SuperBowl XLIX.
            </p>
            <h3>Guaranteed Buy (Programmatic Direct, Programmatic Guaranteed)</h3>
            <p class="left max-850">
                The direct sale of reserved ad inventory between a buyer and seller, with automation replacing the manual insertion order (IO) process. This inventory is sometimes categorized as premium, sold upfront, reserved, guaranteed, first-look, direct sold or class-1.
Guaranteed buys allow the publisher to regulate the price of inventory to buyers. It also gives buyers the ability to buy more premium inventory on a direct basis from the publisher, transparently. Transparency includes price and inventory type.
            </p>
            <h3>ACR (Automatic Content Recognition)</h3>
            <p class="left max-850">
                ACR is an identification technology to recognize content played on a media device or present in a media file. Devices containing ACR support enable users to quickly obtain additional information about the content they have just experienced without any user based input or search efforts. ACR is TV is commonly deployed to identify either audio or video ques.
            </p>
            <h3>Deal ID</h3>
            <p class="left max-850">
                A Deal ID or AdID is a parameter passed between a bid request and bid response to enable 1-to-1 programmatic buying. Standardized IDs are critical to the success of any open standards.
            </p>
        </div>
    </main>
    {{> ../partials/footer.html }}
    <script src="libs/jquery-1.11.3.min.js"></script>
    <!-- Megamenu JS Tags -->
    {{> ../partials/megamenu_js.html }}
<!-- Tracking Pixels -->
{{> ../pixels/body_page_view-amazon_uk.html }}
{{> ../pixels/body_page_view-amazon_us.html }}
{{> ../pixels/body_page_segment-appnexus.html }}
{{> ../pixels/body_page_view-facebook.html }}
{{> ../pixels/body_page_view-google.html }}
{{> ../pixels/body_page_view-revcontent.html }}
{{> ../pixels/body_page_view-twitter.html }}
</body>
</html>