<!DOCTYPE html>
<html lang="en">
<head>
{{> ../pixels/header_core-facebook.html }}
    <base href="" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proprietary Bidder</title>
    <link rel="amphtml" href="http://rtb.cat/m/proprietary-bidder.html" />
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
    <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
    <link rel="stylesheet" type="text/css" href="plugins/tooltip/css/tooltip-classic.css" />
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
</head>
<body>
    <!-- Megamenu HTML Tags -->
	{{> ../partials/megamenu_html.html }}
    <main>
        <div class="width-constrainer">
            <h1 class="page-title">Proprietary Bidder<br><small>And OpenRTB integration</small></h1>
            <h2>Enterprise Solution</h2>
            <p class="left max-800">
                RTBcat enjoys direct integrations with the largest suppliers of inventory, Google AdX, AOL, Microsoft, among many others.
            </p>
            <p class="left max-800">
                Our proprietary bidder provides:
            </p>
            <ul>
                <li>Extremely lean tech-requirements.</li>
                <li>Real time reporting.</li>
                <li>Near-real-time decisioning (typically).</li>
            </ul>
            <p class="left max-800">
                We have dubbed this a "cognitive bidder", because of its use of both supervised and un-supervised ML and <i>target at an individual cookie-level</i>.
            </p>
            <p class="left max-800">
                You can choose from using our deep-learning & neural nets, or bring-your-own (and keep your data in-house).
            </p>
            <p class="left max-800">
                The usual trade-off between accuracy & speed in ML is significantly improved in this next-generation of bidders. Because our tech has much a leaner set-up, we are able to process much more data in real-time. It's not always essential, but when it is, it can make a big difference to performance and efficiency.
            </p>
            <p class="right max-800" style="font-size: 17px">
                <a href="https://docs.google.com/a/rtb.cat/forms/d/e/1FAIpQLSeCU2430zqJNNj9IGNRtMhvPfQsmQCvtvySBnUIyDAF0as_Zw/viewform">Click here to enquire about OpenRTB integration</a>
            </p>
            <h2>ai</h2>
            <p>Custom-built neural networks designed to solve Campaign management problems</p>
            <p class="left max-800">
            Ever felt like your brain just couldn't handle all the potential pivots that a campaign could or should do?
            </p>
            <p class="left max-800">
                Ever felt bad about the missed opportunities that you see in your excel?
            </p>
            <p class="left max-800">
                If only you had more hands, and infinite time to build individual day-parting campaigns, Carrier-specific campaigns, banner-specific campaigns ...?
            </p>
            <p class="left max-800">
                And all the while collect all of this data on individual impressions and visitors - to then accurately (re-)target?
            </p>
            <p class="left max-800">
                That is what our a.i. gives you.
            </p>
            <p class="left max-800">
                You can now deploy a "mind" that gives you the ability to "be everywhere" and "optimise everything". This is an extremely powerful a.i that gives the experienced campaign manager hundreds of 'sub-brains'.
            </p>
            <h2>On-premise ai</h2>
            <p class="left max-800">
                Need to keep your data secure, private and in-house? Use our ai on top of your on-premise CRM/1st party data.
            </p>
            <p class="right max-800" style="font-size: 17px">
                <a href="#">Click here to enquire about our ai solutions</a>
            </p>
        </div>
    </main>
    {{> ../partials/footer.html }}
    <script src="libs/jquery-1.11.3.min.js"></script>
    <!-- Megamenu JS Tags -->
    {{> ../partials/megamenu_js.html }}

<!-- Tracking Pixels -->
{{> ../pixels/body_page_view-amazon_uk.html }}
{{> ../pixels/body_page_view-amazon_us.html }}
{{> ../pixels/body_page_segment-appnexus.html }}
{{> ../pixels/body_page_view-facebook.html }}
{{> ../pixels/body_page_view-google.html }}
{{> ../pixels/body_page_view-revcontent.html }}
{{> ../pixels/body_page_view-twitter.html }}
</body>
</html>
