<!DOCTYPE html>
<html lang="en">

<head>
{{> ../pixels/header_core-facebook.html }}
    <base href="" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story Board</title>
    <link rel="amphtml" href="http://rtb.cat/m/story-board.html" />
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
    <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
    <link rel="stylesheet" type="text/css" href="plugins/tooltip/css/tooltip-classic.css" />
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
</head>

<body>
    <!-- Megamenu HTML Tags -->
    {{> ../partials/megamenu_html.html }}
    <main>
        <div class="width-constrainer">
            <h1 class="page-title">Customise the Customer’s Journey</h1>
            <p class="left max-800">
                Between retargeting and a daily-impression cap, there is no solution that allows you to target an <i>individual</i>. 
                There is no drag-and-drop solution that lets you show a sequence of creatives to individual users (
                <span class="tooltip tooltip-effect-5">
                    <span class="tooltip-item">cookies</span>
                    <span class="tooltip-content clearfix">
                        <span class="tooltip-text">Desktop users.</span>
                    </span>
                </span>
                , 
                <span class="tooltip tooltip-effect-5">
                    <span class="tooltip-item">IDFA</span>
                    <span class="tooltip-content clearfix">
                        <span class="tooltip-text">Android users.</span>
                    </span>
                </span>
                , 
                <span class="tooltip tooltip-effect-5">
                    <span class="tooltip-item">AAID</span>
                    <span class="tooltip-content clearfix">
                        <span class="tooltip-text">Apple’s version of cookies for mobile, ie: iPhone & iPad.</span>
                    </span>
                </span>
                ).
            </p>
            <p class="left max-800">Using our “Story Board” UI, you can easily generate this:</p>
            <ul class="max-800">
                <li>Day 1: show “get 5% on these red shoes...”</li>
                <li>Day 2: show “get 10% on the red shoes...”</li>
                <li>Day 3: show “Holiday special 15% off on these red shoes”</li>
            </ul>
            <p class="left max-800">Etc.</p>
            <p class="left max-800">CRM or ERP data can easily be integrated to synchronise with your shopping cart.</p>
            <p class="left max-800">Limitation: Google’s AdX will not allow 
                <span class="tooltip tooltip-effect-5">
                    <span class="tooltip-item">Pii</span>
                    <span class="tooltip-content clearfix">
                        <span class="tooltip-text">Personally identifiable information.</span>
                    </span>
                </span>
                , so &lt;First Name&gt; &lt;Last Name&gt; is not allowed. But &lt;City&gt; can be used.
            </p>
        </div>
    </main>
    <footer>&nbsp;</footer>
    <script src="libs/jquery-1.11.3.min.js"></script>
    <!-- Megamenu JS Tags -->
    {{> ../partials/megamenu_js.html }}

<!-- Tracking Pixels -->
{{> ../pixels/body_page_view-amazon_uk.html }}
{{> ../pixels/body_page_view-amazon_us.html }}
{{> ../pixels/body_page_segment-appnexus.html }}
{{> ../pixels/body_page_view-facebook.html }}
{{> ../pixels/body_page_view-google.html }}
{{> ../pixels/body_page_view-revcontent.html }}
{{> ../pixels/body_page_view-twitter.html }}
</body>

</html>