<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Swipe File</title>
        <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
        <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
        <link rel="stylesheet" type="text/css" href="css/basic.css" />
        <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
        <style>
            #swipe_table td {vertical-align: top;padding-bottom:15px;}
            #swipe_table td:first-child {width: 35%;padding-right:15px;}
            #swipe_table img {max-width: 100%;}
        </style>
    </head>
    <body>
        <!-- Megamenu HTML Tags -->
		{{> ../partials/megamenu_html.html }}
        <main>
            <div class="width-constrainer">
                <h1 class="page-title">Swipe File</h1>
                <table id="swipe_table">
                    <tbody>
                        <tr>
                            <td>
                                <a href="swipe/1" target="_blank">
                                    <img src="images/swipe/overview/01-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/1" target="_blank">
                                    <img src="images/swipe/page-preview/01.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/2" target="_blank">
                                    <img src="images/swipe/overview/02-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/2" target="_blank">
                                    <img src="images/swipe/page-preview/02.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/3" target="_blank">
                                    <img src="images/swipe/overview/03-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/3" target="_blank">
                                    <img src="images/swipe/page-preview/03.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/4" target="_blank">
                                    <img src="images/swipe/overview/04-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/4" target="_blank">
                                    <img src="images/swipe/page-preview/04.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/5" target="_blank">
                                    <img src="images/swipe/overview/05-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/1" target="_blank">
                                    <img src="images/swipe/page-preview/05.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/6" target="_blank">
                                    <img src="images/swipe/overview/06-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/6" target="_blank">
                                    <img src="images/swipe/page-preview/06.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/7" target="_blank">
                                    <img src="images/swipe/overview/07-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/7" target="_blank">
                                    <img src="images/swipe/page-preview/07.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/8" target="_blank">
                                    <img src="images/swipe/overview/08-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/8" target="_blank">
                                    <img src="images/swipe/page-preview/08.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/9" target="_blank">
                                    <img src="images/swipe/overview/09-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/9" target="_blank">
                                    <img src="images/swipe/page-preview/09.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/10" target="_blank">
                                    <img src="images/swipe/overview/10-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/10" target="_blank">
                                    <img src="images/swipe/page-preview/10.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/11" target="_blank">
                                    <img src="images/swipe/overview/11-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/11" target="_blank">
                                    <img src="images/swipe/page-preview/11.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/12" target="_blank">
                                    <img src="images/swipe/overview/12-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/12" target="_blank">
                                    <img src="images/swipe/page-preview/12.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/13" target="_blank">
                                    <img src="images/swipe/overview/13-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/13" target="_blank">
                                    <img src="images/swipe/page-preview/13.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!--<a href="swipe/14" target="_blank">
                                    <img src="images/swipe/overview/14-min.jpg">
                                </a>-->
                            </td>
                            <td>
                                <a href="swipe/14" target="_blank">
                                    <img src="images/swipe/page-preview/14.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/15" target="_blank">
                                    <img src="images/swipe/overview/15-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/15" target="_blank">
                                    <img src="images/swipe/page-preview/15.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="swipe/16" target="_blank">
                                    <img src="images/swipe/overview/16-min.jpg">
                                </a>
                            </td>
                            <td>
                                <a href="swipe/16" target="_blank">
                                    <img src="images/swipe/page-preview/16.jpg">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!--<a href="swipe/17" target="_blank">
                                    <img src="images/swipe/overview/17-min.jpg">
                                </a>-->
                            </td>
                            <td>
                                <a href="swipe/17" target="_blank">
                                    <img src="images/swipe/page-preview/17.jpg">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </main>
        <footer>&nbsp;</footer>
        <script src="libs/jquery-1.11.3.min.js"></script>
        <!-- Megamenu JS Tags -->
		{{> ../partials/megamenu_js.html }}
        <!-- Google Analytics Universal -->
        {{> ../partials/ga_js.html }}
    </body>
</html>
