<!DOCTYPE html>
<html lang="en">
<head>
{{> ../pixels/header_core-facebook.html }}
    <base href="" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swipe File</title>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
    <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
    <style>
        #swipe_table th {padding-bottom:15px;text-align:center;}
        #swipe_table td {vertical-align: top;padding-bottom:15px;}
        #swipe_table td:first-child {width: 35%;padding-right:15px;}
        #swipe_table img {max-width: 100%;}
        #swipe_table td img:hover {
            -webkit-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
            box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
            transform: scale(1.02);
            -webkit-transform: scale(1.02);
        }
    </style>
</head>
<body>
    <!-- Megamenu HTML Tags -->
	{{> ../partials/megamenu_html.html }}
    <main>
        <div class="width-constrainer">
            <h1 class="page-title">Swipe File</h1>
            <h3>Proven DR landers and their most run native ads<br>
        Click to open a scraped version, download all landers <a href="https://github.com/rtbcat/rtb_main/tree/gh-pages/swipe" target="_blank">here</a></h3>
            <table id="swipe_table">
                <thead>
                    <tr>
                        <th>Ad</th><th>Page</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/www.onesmartpenny.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/www.onesmartpenny.com/" target="_blank">
                                    <img src="swipe/preview/page/www.onesmartpenny.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="https://www.onesmartpenny.com/landers/pages/mortgage-refinance-shark-4.html?utm_term=barbclosetinyhome.jpg_2b5900_092016&utm_source=taboola&utm_adgroup=OSP_BC_IMG_RONxMSN_Desktop&utm_medium=comcastxfinity-comcast" target="_blank">www.onesmartpenny.com</a>
                            </p>
                            <p>
                                #finance
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/comparisons.org.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/comparisons.org/" target="_blank">
                                    <img src="swipe/preview/page/comparisons.org.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://comparisons.org/the-home-refinancing-plan-banks-don-t-want-you-knowing.php?aff=1169&sub=refi_desk_3yrs&utm_medium=cbsinteractive-chowhound" target="_blank">comparisons.org</a>
                            </p>
                            <p>
                                #finance
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/www.creditcards.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/www.creditcards.com/" target="_blank">
                                    <img src="swipe/preview/page/www.creditcards.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://www.creditcards.com/balance-transfer.php?aid=4e5c9998&bid=aeff6c16dec5a044&cid=1005" target="_blank">www.creditcards.com</a>
                            </p>
                            <p>
                                #finance
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/www.webmd.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/www.webmd.com/" target="_blank">
                                    <img src="swipe/preview/page/www.webmd.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://www.webmd.com/osteoarthritis/knee-pain-16/treat-oa-knee-pain?rtt_4064" target="_blank">www.webmd.com</a>
                            </p>
                            <p>
                                #health
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/insider-financial-tips.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/insider-financial-tips.com/" target="_blank">
                                    <img src="swipe/preview/page/insider-financial-tips.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://insider-financial-tips.com/" target="_blank">insider-financial-tips.com</a>
                            </p>
                            <p>
                                #ecommerce
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/auto.everquote.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/auto.everquote.com/" target="_blank">
                                    <img src="swipe/preview/page/auto.everquote.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://auto.everquote.com/welcome?id=244&creativeid=146213210062&device=c&placement=www.newsmax.com&target=&dt=dup" target="_blank">auto.everquote.com</a>
                            </p>
                            <p>
                                #finance #insurance
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/www.fool.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/www.fool.com/" target="_blank">
                                    <img src="swipe/preview/page/www.fool.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://www.fool.com/video-alert/stock-advisor/sa-cabletv-ss/?utm_campaign=tv&campaign=sa-tv&utm_term=oddee&utm_source=taboola&source=esatabimu0860173&utm_medium=contentmarketing&testId=tv-taboola&cellId=11" target="_blank">www.fool.com</a>
                            </p>
                            <p>
                                #finance
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/bloodpressuresolution.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/bloodpressuresolution.com/" target="_blank">
                                    <img src="swipe/preview/page/bloodpressuresolution.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://bloodpressuresolution.com/33-adw?tid=adwords&cid=adwords&nx=CLICK_X&ny=CLICK_Y&nb=2" target="_blank">bloodpressuresolution.com</a>
                            </p>
                            <p>
                                #health
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/pros.palmbeachgroup.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/pros.palmbeachgroup.com/" target="_blank">
                                    <img src="swipe/preview/page/pros.palmbeachgroup.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="https://pros.palmbeachgroup.com/1512PBLSS/PPBLRC11/?h=true" target="_blank">pros.palmbeachgroup.com</a>
                            </p>
                            <p>
                                #finance
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/www.fetcharate.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/www.fetcharate.com/" target="_blank">
                                    <img src="swipe/preview/page/www.fetcharate.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="https://www.fetcharate.com/pa/mortgage/?tg_ref=fetobran&csg_ref=tapa&keyword=ad_id&sub2=5053546&camp_id=ad_title&camp_id=67898727&keyword=Homeowners+Must+Claim+Their+$4271+Rebate+Check+B&sub2=5053546&csg_ref=tapa&keyword=ad_id&sub2=5053546&camp_id=ad_title" target="_blank">www.fetcharate.com</a>
                            </p>
                            <p>
                                #finance #insurance
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/www.howlifeworks.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/www.howlifeworks.com/" target="_blank">
                                    <img src="swipe/preview/page/www.howlifeworks.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://www.howlifeworks.com/shopping/Where_to_Find_Brand_Name_Products_Starting_at_1_514?ag_id=1676&wid=687D56B8-10B8-4F99-9933-757D4223F5D9&did=199245&cid=1005&si_id=7414&ti=&it=2016-07-05%2010:06:10&ck=23f195fe98978c49ad1d780244dcd93f&pubs_source=mpt&pubs_campaign=20160705-1676" target="_blank">www.howlifeworks.com</a>
                            </p>
                            <p>
                                #ecommerce
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <img src="swipe/preview/ad/thecrux.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/thecrux.com/" target="_blank">
                                    <img src="swipe/preview/page/thecrux.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://thecrux.com/dyncontent/look-who-is-going-bankrupt-next/?cid=MKT232586&eid=MKT236580&utm_source=taboola&utm_medium=referral" target="_blank">thecrux.com</a>
                            </p>
                            <p>
                                #finance
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--<a href="swipe/US/14" target="_blank">
                                <img src="swipe/preview/ad/14-min.jpg">-->
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/purecolodetox.com/" target="_blank">
                                    <img src="swipe/preview/page/purecolodetox.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="https://purecolodetox.com/" target="_blank">purecolodetox.com</a>
                            </p>
                            <p>
                                #diet #health
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <img src="swipe/preview/ad/dailydermahelp.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/dailydermahelp.com/" target="_blank">
                                    <img src="swipe/preview/page/dailydermahelp.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="https://dailydermahelp.com/article?v=wrinkles2&p=rot&rs=1&g=1536&ts=&sxid=c80n4366051r" target="_blank">dailydermahelp.com</a>
                            </p>
                            <p>
                                #skin #health
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <img src="swipe/preview/ad/download.fromdoctopdf.com.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/download.fromdoctopdf.com/" target="_blank">
                                    <img src="swipe/preview/page/download.fromdoctopdf.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://download.fromdoctopdf.com/index.jhtml" target="_blank">download.fromdoctopdf.com</a>
                            </p>
                            <p>
                                #download
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--<a href="swipe/US/17" target="_blank">
                                <img src="swipe/preview/ad/17-min.jpg">-->
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/www.trylorevive.com/" target="_blank">
                                    <img src="swipe/preview/page/www.trylorevive.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="https://www.trylorevive.com/offer13/?CID=16&AFID=1000&click_id=1020586f340b80f399fe3ff1a94750&affId=097E3FA0#" target="_blank">www.trylorevive.com</a>
                            </p>
                            <p>
                                #skin
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--<a href="swipe/US/17" target="_blank">
                                <img src="swipe/preview/ad/17-min.jpg">-->
                        </td>
                        <td>
                            <p>
                                <a href="swipe/US/www.caseyresearch.com/" target="_blank">
                                    <img src="swipe/preview/page/www.caseyresearch.com.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://www.caseyresearch.com/cm/project-fedcoin-alt-presentation?utm_source=taboola&utm_medium=referral" target="_blank">www.caseyresearch.com/</a>
                            </p>
                            <p>
                                #finance
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
    </main>
    <footer>&nbsp;</footer>
    <script src="libs/jquery-1.11.3.min.js"></script>
    <!-- Megamenu JS Tags -->
	{{> ../partials/megamenu_js.html }}

<!-- Tracking Pixels -->
{{> ../pixels/body_page_view-amazon_uk.html }}
{{> ../pixels/body_page_view-amazon_us.html }}
{{> ../pixels/body_page_segment-appnexus.html }}
{{> ../pixels/body_page_view-facebook.html }}
{{> ../pixels/body_page_view-google.html }}
{{> ../pixels/body_page_view-revcontent.html }}
{{> ../pixels/body_page_view-twitter.html }}
</body>
</html>
