<!DOCTYPE html>
<html lang="en">
<head>
{{> ../pixels/header_core-facebook.html }}
    <base href="" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swipe File</title>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
    <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
    <style>
        #swipe_table th {padding-bottom:15px;text-align:center;}
        #swipe_table td {vertical-align: top;padding-bottom:15px;}
        #swipe_table td:first-child {width: 35%;padding-right:15px;}
        #swipe_table img {width: 100%; max-width: 100%;}
        #swipe_table td img:hover {
            -webkit-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
            box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.75);
            transform: scale(1.02);
            -webkit-transform: scale(1.02);
        }
    </style>
</head>
<body>
    <!-- Megamenu HTML Tags -->
	{{> ../partials/megamenu_html.html }}
    <main>
        <div class="width-constrainer">
            <h1 class="page-title">Swipe File ( <a href="swipe-us.html">US</a> | <a href="swipe-uk.html">UK</a> | <b>DE</b> )</h1>
            <h3>Proven DR landers and their most run native ads</h3>
            <table id="swipe_table">
                <thead>
                    <tr>
                        <th>Ad</th><th>Page</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/www.gesundheitsnachrichten.co.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/DE/www.gesundheitsnachrichten.co" target="_blank">
                                    <img src="swipe/preview/page/www.gesundheitsnachrichten.co.jpg">
                                </a>
                            </p>
                            <p>
                                Original URL: <a href="http://www.gesundheitsnachrichten.co/desk/?t202id=235519&t202kw=de_skin_desk_486729&c2=34370&c3=" target="_blank">www.gesundheitsnachrichten.co</a>
                                <br>
                                #skin
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/healthreports365.com-1.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/DE/healthreports365.com-1" target="_blank">
                                    <img src="swipe/preview/page/healthreports365.com-1.jpg">
                                </a>
                            </p>
                            <p>
                                Click-through:
                                <a href="swipe/DE/www.revolyn-de.com/" target="_blank">Link A</a>
                                &nbsp;|&nbsp;
                                <a href="swipe/DE/slimkorper.de/" target="_blank">Link B</a>
                                <br>
                                Original URL: <a href="http://healthreports365.com/diet/de/rev/4/?voluumdata=BASE64dmlkLi4wMDAwMDAwNS03MjM0LTRlNTUtODAwMC0wMDAwMDAwMDAwMDBfX3ZwaWQuLjdkYTNiODAwLTdhZjAtMTFlNi04MmJlLTM2ZmRkOTk3YzY1Nl9fY2FpZC4uNmNhMDA5NWQtYjQyZi00MTk3LTkyMmMtNWQxYjc3MDEwOTkyX19ydC4uUl9fbGlkLi5kMDdiMmNjMy1mNDVjLTQ2YmEtOWQ0MS02MDI3NDMzZmJhODZfX29pZDEuLjlmMTBmNzYxLTVjN2UtNDk5Zi04ZjI0LTFhYTczMjBiOTI0OF9fb2lkMi4uOTUxNjczODQtNzNkYy00Njk3LWFiNzItNzhiOTA4ODYyN2Y3X192YXIxLi5lZGl0b3JpYWwgbmV3c19fdmFyMi4uMTExOTc3OF9fdmFyMy4uMTM5MDc1X192YXI0Li40NDE5N19fcmQuLl9fYWlkLi5fX2FiLi5fX3NpZC4u&utm_content_id=1119778&utm_boost_id=139075&utm_targeting=editorial%20news&utm_widget_id=44197" target="_blank">healthreports365.com</a>
                                <br>
                                #health
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/healthreports365.com-2.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/DE/healthreports365.com-2" target="_blank">
                                    <img src="swipe/preview/page/healthreports365.com-2.jpg">
                                </a>
                            </p>
                            <p>
                                Click-through:
                                <a href="swipe/DE/www.revolyn-de.com/" target="_blank">Link A</a>
                                &nbsp;|&nbsp;
                                <a href="swipe/DE/slimkorper.de/" target="_blank">Link B</a>
                                <br>
                                Original URL: <a href="http://healthreports365.com/diet/de/bild/6/?voluumdata=BASE64dmlkLi4wMDAwMDAwNi0wNzEzLTQwNjItODAwMC0wMDAwMDAwMDAwMDBfX3ZwaWQuLmEwNzFmODAwLTkzNGMtMTFlNi04NWE2LTMzYzQxNjhkMzdiOV9fY2FpZC4uNmNhMDA5NWQtYjQyZi00MTk3LTkyMmMtNWQxYjc3MDEwOTkyX19ydC4uUl9fbGlkLi4xMzVkMDA1OS05YTk1LTRjNTMtOTM4Zi03MjNjZjRkZjE4YjVfX29pZDEuLjlmMTBmNzYxLTVjN2UtNDk5Zi04ZjI0LTFhYTczMjBiOTI0OF9fb2lkMi4uOTUxNjczODQtNzNkYy00Njk3LWFiNzItNzhiOTA4ODYyN2Y3X192YXIxLi5iaXphcnJlLCBzdHJhbmdlIGFuZCB1bmJlbGlldmFibGVfX3ZhcjIuLjExMTk3NzhfX3ZhcjMuLjEzOTA3NV9fdmFyNC4uMTY1ODVfX3JkLi5fX2FpZC4uX19hYi4uX19zaWQuLg&utm_content_id=1119778&utm_boost_id=139075&utm_targeting=bizarre,%20strange%20and%20unbelievable&utm_widget_id=16585" target="_blank">healthreports365.com</a>
                                <br>
                                #health
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="swipe/preview/ad/healthreports365.com-3.jpg">
                        </td>
                        <td>
                            <p>
                                <a href="swipe/DE/healthreports365.com-3" target="_blank">
                                    <img src="swipe/preview/page/healthreports365.com-3.jpg">
                                </a>
                            </p>
                            <p>
                                Click-through:
                                <a href="swipe/DE/www.revolyn-de.com/" target="_blank">Link A</a>
                                &nbsp;|&nbsp;
                                <a href="swipe/DE/slimkorper.de/" target="_blank">Link B</a>
                                <br>
                                Original URL: <a href="http://healthreports365.com/diet/de/blog/1/" target="_blank">healthreports365.com</a>
                                <br>
                                #health
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
    </main>
    <footer>&nbsp;</footer>
    <script src="libs/jquery-1.11.3.min.js"></script>
    <!-- Megamenu JS Tags -->
	{{> ../partials/megamenu_js.html }}

<!-- Tracking Pixels -->
{{> ../pixels/body_page_view-amazon_uk.html }}
{{> ../pixels/body_page_view-amazon_us.html }}
{{> ../pixels/body_page_segment-appnexus.html }}
{{> ../pixels/body_page_view-facebook.html }}
{{> ../pixels/body_page_view-google.html }}
{{> ../pixels/body_page_view-revcontent.html }}
{{> ../pixels/body_page_view-twitter.html }}
</body>
</html>
