<!DOCTYPE html>
<html lang="en">
<head>
{{> ../pixels/header_core-facebook.html }}
    <base href="" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thank You</title>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
    <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
    <link rel="stylesheet" type="text/css" href="plugins/tooltip/css/tooltip-classic.css" />
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
</head>
<body>
    <!-- Megamenu HTML Tags -->
	{{> ../partials/megamenu_html.html }}
    <main>
        <div class="width-constrainer">
            <h1 class="page-title">Message Sent</h1>
            <h3>Thank you for contacting us!</h3>
        </div>
    </main>
    <footer>&nbsp;</footer>
    <script src="libs/jquery-1.11.3.min.js"></script>
    <!-- Megamenu JS Tags -->
	{{> ../partials/megamenu_js.html }}

<!-- Tracking Pixels -->
{{> ../pixels/body_page_conversion-amazon_us.html }}
{{> ../pixels/body_page_conversion-amazon_uk.html }}
{{> ../pixels/body_page_conversion-appnexus.html }}
{{> ../pixels/body_page_segment-appnexus.html }}
{{> ../pixels/body_page_conversion-facebook.html }}
{{> ../pixels/body_page_conversion-linkedin.html }}
{{> ../pixels/body_page_conversion-revcontent.html }}
{{> ../pixels/body_page_view-revcontent.html }}
{{> ../pixels/body_page_conversion-twitter.html }}
</body>
</html>
