<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Thank You</title>
        <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="plugins/megamenu/css/megamenu.css" />
        <link rel="stylesheet" type="text/css" href="plugins/jvectormap-2.0.3/jvectormap.css" />
        <link rel="stylesheet" type="text/css" href="plugins/tooltip/css/tooltip-classic.css" />
        <link rel="stylesheet" type="text/css" href="css/basic.css" />
        <link rel="stylesheet" type="text/css" href="css/megamenu.css" />
    </head>
    <body>
        <!-- Megamenu HTML Tags -->
		{{> ../partials/megamenu_html.html }}
        <main>
            <div class="width-constrainer">
                <h1 class="page-title">Message Sent</h1>
                <h3>Thank you for contacting us!</h3>
            </div>
        </main>
        <footer>&nbsp;</footer>
        <script src="libs/jquery-1.11.3.min.js"></script>
        <!-- Megamenu JS Tags -->
		{{> ../partials/megamenu_js.html }}
        <!-- Twitter single-event website tag code -->
        <script src="https://platform.twitter.com/oct.js" type="text/javascript"></script>
        <script type="text/javascript">twttr.conversion.trackPid('nv00n', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
        <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nv00n&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
        <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nv00n&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
        </noscript>
        <!-- End Twitter single-event website tag code -->
        <!-- Google Analytics Universal -->
        {{> ../partials/ga_js.html }}
    </body>
</html>
