/********pop up*********/
        #popover{
            background: #fff url(../images/down-bg.jpg) top center no-repeat;
            background-size: cover;
            position: fixed;
            top: 0px;
            left: 0px;
            display: none;
            width: 100%;
            height: 100%;
            z-index: 9999;
        }
        #popover img{
            display: block;
            margin: 25px auto 0px auto;
            position: relative;
            /*left: -85px;*/
        }
        #overlay-1{
            position: fixed;
            background: #fff;
            opacity: .65;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

      #pop-box div > h2 {
  color: #ed145b;
  font-family: "Montserrat",sans-serif;
  font-size: 58px;
  font-weight: 700;
  height: 40px;
  line-height: 45px;
  padding: 10px 0 8px;
  text-indent: 0;
}
        #pop-box div > h3 {
          color: #ed145b;
          font-family: "Montserrat",sans-serif;
          font-size: 32px;
          font-weight: 300;
          padding: 5px 0;
        }
        .f34.grey {
            font-size: 28px;
        }
        #pop-box{
            width: 932px;
            margin: 4px auto;
            font-size: 24px;
            text-align: center;
            position: relative;
            z-index: 2;
            top: 100px;
            opacity: 0;
            transition: opacity 1s, top 1s;
            transition-delay: .75s;
        }
        #pop-box .para{
            margin: 0px 0;
        }
        #pop-box a{
          color:black;
        }
        #pop-box p{
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            line-height: normal;
            font-size: 19px;
        }
    #pop-box p span {
  color: #333333;
  display: block;
  font-weight: 800;
  padding: 10px 0;
}
        #down-btn-1 {
          background: #39edc5 none repeat scroll 0 0;
          border-radius: 5px;
          box-shadow: 4px 4px 0 0 #5a5a5a;
          color: #000;
          display: inline-block;
          font-family: "Montserrat",sans-serif;
          font-size: 18px;
          font-weight: bold;
          padding: 25px 36px 25px 33px;
          position: relative;
          text-decoration: none;
          width: 325px;
        }
        #down-btn-1:active{
            /*box-shadow: 0 0 0 0;
            top: 4px;*/
            background:  #02cfab;
        }
        #down-btn-1:after{
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            width: 0;
            height: 0;
            left: 30px;
            top: 30px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 10px solid #e8215d;
        }
        #pop-terms-1 {
            margin-top: 35px;
        }
       #pop-terms-1 p {
  font-size: 11px;
  margin: 0 auto;
  padding: 0 45px;
  width: 635px;
  color: #333333 !important;
}