/* Blukai Brands Widget */
main aside .spanel-body ul {
    height: 420px;
    overflow-y: auto;
    border-radius: 2px;
}
main aside .spanel-body li {
    list-style-type: none;
    min-height: 40px;
    padding: 5px;
    padding-left: 40px;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
    position: relative;
}
main aside .spanel-body li:before {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    content: "";
    border: 1px solid #ccc;
    border-radius: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
}
main aside .spanel-body li:hover {
    background: -moz-linear-gradient(top,  rgba(250,250,250,0.1) 20%, rgba(100,100,100,0.2) 100%);
    background: -webkit-linear-gradient(top,  rgba(250,250,250,0.1) 20%,rgba(100,100,100,0.2) 100%);
    background: linear-gradient(to bottom,  rgba(250,250,250,0.1) 20%,rgba(100,100,100,0.2) 100%);
}
main aside .spanel-body li:hover img {-webkit-filter: sepia(90%);filter: sepia(90%);}
main aside .spanel-body li img {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
main aside .spanel-body li.active {
    background: -moz-linear-gradient(bottom,  rgba(180,180,180,0.15) 65%,rgba(120,120,120,0.2) 100%);
    background: -webkit-linear-gradient(bottom,  rgba(180,180,180,0.15) 65%,rgba(120,120,120,0.2) 100%);
    background: linear-gradient(to top, rgba(180,180,180,0.1) 65%,rgba(120,120,120,0.2) 100%);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid white;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.1);
}
main aside .spanel-body li.active:hover {
    background: -moz-linear-gradient(bottom,  rgba(180,180,180,0.15) 65%,rgba(120,120,120,0.2) 100%);
    background: -webkit-linear-gradient(bottom,  rgba(180,180,180,0.15) 65%,rgba(120,120,120,0.2) 100%);
    background: linear-gradient(to top, rgba(180,180,180,0.1) 65%,rgba(120,120,120,0.2) 100%);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid white;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.1);
}
main aside .spanel-body li.active:before {top: 11px;}
main aside .spanel-body li.active:after {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 14px;
    left: 13px;
    content: "";
    border: 1px solid #ccc;
    border-radius: 100%;
    background: rgb(237,192,45);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(237,192,45,1) 0%, rgba(224,82,0,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(237,192,45,1) 0%,rgba(224,82,0,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(237,192,45,1) 0%,rgba(224,82,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edc02d', endColorstr='#e05200',GradientType=1 );
}
main aside .spanel-body li.active img {position: relative;top: 1px;-webkit-filter: none;filter: none;}
main aside .spanel-body li.active:hover img {-webkit-filter: none;filter: none;}
main aside .spanel-body li:active {
    background: -moz-linear-gradient(bottom,  rgba(180,180,180,0.15) 65%,rgba(120,120,120,0.2) 100%);
    background: -webkit-linear-gradient(bottom,  rgba(180,180,180,0.15) 65%,rgba(120,120,120,0.2) 100%);
    background: linear-gradient(to top, rgba(180,180,180,0.1) 65%,rgba(120,120,120,0.2) 100%);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid white;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.1);
}
main aside .spanel-body li:active img {
    position: relative;
    top: 1px;
    opacity: 0.9;
}
main aside .spanel-body li:active:before {top: 11px;}

/* BlueKai Table */
#table_container {margin-bottom: 15px;}
#table_container .table {margin-bottom: 0;}
#table_container span.badge {
    display: inline-block;
    line-height: 18px;
    padding: 0px 5px;
    border-radius: 0;
    border: 1px solid white;
    position: relative;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 9px;
    color: #3A4D61;
    background-color: white;
    overflow: visible;
}
#table_container span.badge > span {
    margin: 0;
    padding: 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    vertical-align: middle;
}
#table_container span.badge:last-child .point {display: none;}
#table_container div.point {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: -1px;
    right: -10px;
    line-height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid white;
    border-bottom: 10px solid transparent;
    vertical-align: middle;
}

/* Responsive CSS */
@media(max-width: 1200px) {
    #table_container td:first-child+td+td,
    #table_container th:first-child+th+th {display: none}
}
@media(max-width: 970px) {
    main aside {
        position: fixed;
        left: 0;
        transform: translateX(calc(-100% + 10px));
    }
    main aside .search-field,
    main aside .search-field input[type="text"] {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    main aside .spanel .spanel-head .toggle-icon {display: inline-block;}
    main #main_content {
        width: calc(100% - 0px) !important;
    }
}
@media(max-width: 580px) {
    #table_container td:first-child+td,
    #table_container th:first-child+th,
    #table_container td:first-child+td+td,
    #table_container th:first-child+th+td {display: none}
}
@media(max-width: 430px) {
    main aside {position: absolute;}
    #table_container th:last-child,
    #table_container td:last-child {display: none}
    main section .table-control .left {
        margin-bottom: 15px;
    }
    main section .table-control .left,
    main section .table-control .right {
        width: 100%;
        text-align: center;
        float: none;
    }
}
