@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body, html {height: 100%;}

body {
	background: #fff;
	color: #74777b;
	font-weight: 500;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	color: #2fa0ec;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #74777b;
}
.color-3 {
	color: #fff;
	background: #566473;
}

.color-3 a {
	color: rgba(58,77,97,1);
}

.color-3 a:hover,
.color-3 a:focus {
	color: #fff;
}

/* Initial Screen */
.intro-screen {
    height: 100%;
    background: url(../images/map.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.intro-screen .content header {
	padding-top: 10%;
}

/* Main Navigation Links */
.related a:hover {
    opacity: 1;
    color: #576475;
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.65) 100%);
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5);
    transition: opacity 0.5s ease-in-out;
}

.related a:hover img {
    
}
.related a:hover h3 {
    animation-duration: 500ms;
    animation-fill-mode: both;
    animation-delay: 400ms;
    animation-name: flash;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}
.content {
	padding: 0 1em;
	margin: 0 auto;
	text-align: center;
}

/* Header */
.codrops-header {
	padding: 1em 0 3em;
	letter-spacing: -1px;
}
.codrops-header h1 {
	font-weight: 800;
	font-size: 4.5em;
	line-height: 1;
    text-shadow: 1px 1px 1px #000000;
}
.codrops-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 200;
	padding-top: 0.325em;
	opacity: 0.6;
}

/* Related demos */
.related {
	width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	padding: 60px 0;
	clear: both;
}
.related > h1,
.related > h2,
.related > h3 {
	font-family: Raleway, Arial, sans-serif;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.related > a {
	width: calc(100% - 20px);
	max-width: 340px;
	/*border: 1px solid rgba(0,0,0,0.3);*/
	color: #576475;
	background-color: white;
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	border: 1px solid rgba(255,255,255,0.5);
	margin: 25px 10px 0 10px;
	padding: 25px;
	opacity: 0.8;
}

.related a img {
	max-width: 100%;
	/*opacity: 0.8;*/
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

/* Dummy elements */
.leads {
	width: 100%;
	max-width: 1100px;
	text-align: left;
	min-height: 300px;
	margin: 0 auto;
	font-weight: 300;
	position: relative;
}

.leads-text {
	max-width: 1000px;
	font-size: 1.65em;
}

.info {
	margin: 0 auto;
	text-align: center;
	max-width: 600px;
	font-size: 13px;
	padding: 2em 0;
}

.leads-text p {
	margin-top: 0;
	line-height: 1.8;
	text-align: justify;
}

.leads-text h3 {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
	margin: 2em 0 1em;
}

.leads-menu {
	max-width: 100%;
	padding: 4em 1em;
}

.leads-menu ul,
.leads-team ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0 0 3em;
}

.leads-menu ul li {
	display: inline-block;
	position: relative;
	margin: 0 1em;
	font-size: 1.5em;
}

.leads-menu ul li a {
	display: inline-block;
	font-weight: 700;
	padding: 0.15em 0.25em 0;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.leads-menu-icons ul li {
	width: 2em;
	height: 2em;
	font-size: 2em;
	line-height: 1.75;
}

.leads-image {
	position: relative;
}

.leads blockquote {
	font-family: 'Kalam', cursive;
	font-size: 2.5em;
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
}

.leads blockquote footer {
	font-size: 0.5em;
}

.leads blockquote footer::before {
	content: '—';
}

.leads-avatar {
	margin-top: 7em;
	text-align: center;
}

.leads-avatar > div {
	display: inline-block;
	margin: 0 1em;
}

.leads-avatar a {
	margin: 0 auto;
	display: block;
	text-align: center;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.leads-avatar a img {
	border-radius: 50%;
}

.leads-avatar a h4 {
	margin: 0.25em 0;
	line-height: 1;
	font-size: 1.75em;
	font-weight: 400;
}

@media screen and (max-width: 27em) {
	.codrops-icon {
		font-size: 1.5em;
	}
	.codrops-icon span {
		display: none;
	}
}

/* Perspective Menu Components */
@font-face {
	font-family: 'typicons';
	src:url('../fonts/typicons/typicons.eot');
	src:url('../fonts/typicons/typicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/typicons/typicons.ttf') format('truetype'),
		url('../fonts/typicons/typicons.woff') format('woff'),
		url('../fonts/typicons/typicons.svg#typicons') format('svg');
	font-weight: normal;
	font-style: normal;
}