 /* Megamenu Resets */
#megamenu_trigger {
    margin-left: 0;
    left: calc(50% + 550px);
    display: none;
}
#megamenu_trigger:hover {
    background-color: rgba(0,0,0,0.5);
}
.megamenu_container {
    width: 100%;
    max-width: 1072px;
}
.megamenu_fixed {
    width: 100%;
    max-width: 1072px;
    left: 50%;
    margin-left: 0px;
    margin-right: 0px;
    transform: translateX(-50%);
    border-right: none;
}
.megamenu_fixed .megamenu > li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}
.megamenu {
    font-family: 'Raleway', Arial, sans-serif;
}
.r16by9,
.embed-responsive {
    margin-bottom: 10px !important;
}
.embed-responsive:last-child {
    margin-bottom: 0px !important;
}
.megamenu > li .megamenu_fullwidth p:last-child {margin-bottom: 0px !important;}
.megamenu > li .megamenu_fullwidth p.justify {text-align: justify;}
.megamenu > li .megamenu_fullwidth p.center {text-align: center;}
.megamenu > li .nodrop {
    padding: 15px 8px 15px 10px;
}
.megamenu li.megamenu_button span,
.megamenu > li .drop {
    padding: 15px 20px 15px 10px;
    background-position-y: center !important;
}
.megamenu > li .megamenu_fullwidth {
    width: 100%;
    max-width: 1074px;
    margin: auto;
}
.megamenu > li .megamenu_fullwidth p {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.megamenu > li .megamenu_fullwidth p.yellow,
.megamenu > li .megamenu_fullwidth p.red,
.megamenu > li .megamenu_fullwidth p.blue,
.megamenu > li .megamenu_fullwidth p.green {padding-left: 15px;}
.megamenu > li .megamenu_fullwidth p.black_bg {padding-left: 15px; padding-right: 15px;}
.megamenu > li .megamenu_fullwidth p.iconed {padding-left: 30px !important;}
.megamenu > li .megamenu_tabs_nav {padding-left: 15px !important;}
.megamenu > li ul, .megamenu > li ol {
    padding: 0 0 0 40px;
}
.megamenu > li ul li, .megamenu > li ol li {
    font-family: Raleway, Arial, sans-serif;
    font-size: 15px;
}
.megamenu_fixed {
    -webkit-box-shadow: none;
    height: auto;
    box-shadow: none;
    z-index: 2;
}
.megamenu_bar {
    width: 100%;
    height: 46px;
    background-image: url(../images/megamenu-bg.png);
    background-color: #3d3d3d;
    border: solid 1px #434343;
    position: fixed;
    top: 0; left: 0;
}
.megamenu_tabs .megamenu_tabs_nav {
    margin-top: 0;
    margin-bottom: 0;
}
.megamenu_tabs .megamenu_tabs_panels { margin: 0 0 0; }
.megamenu_tabs li a.current, .megamenu_tabs li a.current:hover {
    background-color: #05a417 !important;
}

/* Content Specific */
.megamenu-btn {
    border: 1px solid #000;
    color: #ffffff !important;
    background-color: #222222;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 2px #000000;
    -webkit-box-shadow: 0 1px 1px #000000;
    -moz-box-shadow: 0 1px 1px #000000;
    -o-box-shadow: 0 1px 1px #000000;
    box-shadow: 0 1px 1px #000000;
    font: bold 11px Sans-Serif;
    padding: 7px 12px;
    margin: 9px 12px 0 0;
    white-space: nowrap;
    vertical-align: middle;
    color: #ffffff;
    cursor: pointer;
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 0 !important;
    margin-right: 0 !important;
    border-left: none !important;
}
.megamenu-btn.orange {background-color: rgb(248,160,0);}
.megamenu-btn.orange:hover {background-color: rgb(220,125,0);}
.megamenu-btn.yellow {
    color: rgba(0,0,0,0.8) !important;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
    background-color: rgb(255,240,0);
}
.megamenu-btn.yellow:hover {background-color: rgb(240,210,0);}
figure {
    width: 100%;
    position: relative;
}
figure .wrapper {
    text-align: center;
}
figure .wrapper .item {
    width: 160px;
    height: 40px;
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
}
figure .wrapper .item-square {
    width: 96px;
    height: 96px;
    display: inline-block;
    opacity: 0.8;
}
figure .wrapper .item:hover {
    background-color: rgba(255,255,255,1);
}
figure .wrapper .item-square:hover {opacity: 1}
figure .wrapper .item a,
figure .wrapper .item-square a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
figure .wrapper .item-square a {background-size: cover;}
figure.mh300 {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}
figure.mh400 {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
}
figure.mh500 {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
}
figure.r16by9 {padding-bottom: 56.25%;}
figure.r16by9 .wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    overflow-y: auto;
}
#map_container {
    width: calc(100% - 20px);
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 50%;
    position: relative;
    overflow: hidden;
}
#map_container > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0px;
}

/* Custom Grid System */
.responsive-img {
    max-width: 100% !important;
    width: 100%;
    height: auto;
    display: inline-block;
}
.megamenu_fullwidth .col-row {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
    margin-bottom: 15px;
}
.megamenu_fullwidth .col-row:last-child {margin-bottom: 0px;}
.megamenu_fullwidth .col-row > div {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.megamenu_fullwidth .col-row .col-20 {width: 20%;}
.megamenu_fullwidth .col-row .col-30 {width: 30%;}
.megamenu_fullwidth .col-row .col-40 {width: 40%;}
.megamenu_fullwidth .col-row .col-half,
.megamenu_fullwidth .col-row .col-50 {width: 50%;}
.megamenu_fullwidth .col-row .col-60 {width: 60%;}
.megamenu_fullwidth .col-row .col-70 {width: 70%;}
.megamenu_fullwidth .col-row .col-80 {width: 80%;}
.megamenu_fullwidth .col-row .col-100 {width: 100%;}
@media (max-width: 860px) {
    .megamenu_fullwidth .col-row .col-half {
        width: 100%;
    }
}

/* Custom Responsiveness */
@media (max-width: 980px) {
    main {margin-top: 44px;}
}
@media (max-width: 768px) {
    main {margin-top: 40px;}
    .megamenu_bar {
        width: 100% !important;
        position: absolute !important;
        left: 0; top: 0;
        display: none;
    }
    .megamenu_fixed {
        width: 100% !important;
        height: auto;
        margin: 0;
        position: relative;
        left: 0 !important; top: 0;
        transform: none !important;
    }
    .megamenu > li.megamenu_button,
    .megamenu_fixed .megamenu > li {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .megamenu > li > span {
        margin-left: 0 !important;
    }
    .megamenu > li .drop,
    .megamenu > li .nodrop {
        width: 100%;
        border-top: 1px solid rgba(100,100,100,0.2);
        border-bottom: 1px solid rgba(0,0,0,0.3);
        display: inline-block;
    }
    .megamenu > li:hover .drop,
    .megamenu > li:hover .nodrop {
        border-top-color: transparent !important;
    }
    .megamenu > li.active .drop,
    .megamenu > li.active .nodrop {
        border-bottom-color: rgba(255,255,255,0.1) !important;
    }
    .megamenu > li ul li, .megamenu > li ol li {
        font-size: 14px;
    }
    .megamenu_fullwidth .col-row .col-half:first-child {
        margin-bottom: 20px;
    }
}
