/* Megamenu Resets */
#megamenu_trigger {
    margin-left: 0;
    left: calc(50% + 550px);
}
.megamenu_container {
    width: 100%;
    max-width: 1072px;
}
.megamenu_fixed {
    width: 100%;
    max-width: 1072px;
    left: 50%;
    margin-left: 0px;
    margin-right: 0px;
    transform: translateX(-50%);
}
.megamenu {
    font-family: 'Raleway', Arial, sans-serif;
}
.megamenu > li .megamenu_fullwidth {
    width: 100%;
    max-width: 1074px;
    margin: auto;
}
.megamenu > li .megamenu_fullwidth p {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    font-family: Raleway, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.megamenu_fixed {
    /*-webkit-box-shadow: 0 2px 3px rgba(50,50,50,0.5);*/
    height: auto;
    box-shadow: 0 2px 3px rgba(150,150,150,0.5);
}