 /* Megamenu Resets */
#megamenu_trigger {
    margin-left: 0;
    left: calc(50% + 550px);
    display: none;
}
#megamenu_trigger:hover {
    background-color: rgba(0,0,0,0.5);
}
.megamenu_container {
    width: 100%;
    max-width: 1072px;
}
.megamenu_fixed {
    width: 100%;
    max-width: 1072px;
    left: 50%;
    margin-left: 0px;
    margin-right: 0px;
    transform: translateX(-50%);
    border-right: none;
}
.megamenu_fixed .megamenu > li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}
.megamenu {
    font-family: 'Raleway', Arial, sans-serif;
}
.megamenu > li .nodrop {
    padding: 15px 8px 15px 10px;
}
.megamenu li.megamenu_button span,
.megamenu > li .drop {
    padding: 15px 20px 15px 10px;
    background-position-y: center !important;
}
.megamenu > li .megamenu_fullwidth {
    width: 100%;
    max-width: 1074px;
    margin: auto;
}
.megamenu > li .megamenu_fullwidth p {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    font-family: Raleway, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.megamenu_fixed {
    -webkit-box-shadow: none;
    height: auto;
    box-shadow: none;
    z-index: 1;
}
.megamenu_bar {
    width: 100%;
    height: 46px;
    background-image: url(../images/megamenu-bg.png);
    background-color: #3d3d3d;
    border: solid 1px #434343;
    position: fixed;
    top: 0; left: 0;
}
.megamenu_tabs .megamenu_tabs_nav {
    margin-top: 0;
    margin-bottom: 0;
}
.megamenu_tabs li a.current, .megamenu_tabs li a.current:hover {
    background-color: #05a417 !important;
}

/* Content Specific */
figure.r16by9 {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
figure.r16by9 .wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    overflow-y: auto;
    text-align: center;
}
figure.r16by9 .wrapper .item {
    width: 160px;
    height: 40px;
    display: inline-block;

    background-color: rgba(255,255,255,0.8);
}
figure.r16by9 .wrapper .item:hover  {
    background-color: rgba(255,255,255,1);
}
figure.r16by9 .wrapper .item a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Custom Grid System */
.responsive-img {
    max-width: 100% !important;
    width: 100%;
    height: auto;
    display: inline-block;
}
.megamenu_fullwidth .col-row {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
    margin-bottom: 15px;
}
.megamenu_fullwidth .col-row:last-child {margin-bottom: 0px;}
.megamenu_fullwidth .col-row > div {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.megamenu_fullwidth .col-row .col-20 {width: 20%;}
.megamenu_fullwidth .col-row .col-30 {width: 30%;}
.megamenu_fullwidth .col-row .col-20 {width: 40%;}
.megamenu_fullwidth .col-row .col-half,
.megamenu_fullwidth .col-row .col-50 {width: 50%;}
.megamenu_fullwidth .col-row .col-60 {width: 60%;}
.megamenu_fullwidth .col-row .col-70 {width: 70%;}
.megamenu_fullwidth .col-row .col-80 {width: 80%;}
@media (max-width: 860px) {
    .megamenu_fullwidth .col-row .col-half {
        width: 100%;
    }
}

/* Custom Responsiveness */
@media (max-width: 980px) {
    main {margin-top: 44px;}
}
@media (max-width: 768px) {
    main {margin-top: 40px;}
    .megamenu_bar {
        width: 100% !important;
        position: absolute !important;
        left: 0; top: 0;
        display: none;
    }
    .megamenu_fixed {
        width: 100% !important;
        height: auto;
        margin: 0;
        position: relative;
        left: 0 !important; top: 0;
        transform: none !important;
    }
    .megamenu > li.megamenu_button,
    .megamenu_fixed .megamenu > li {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .megamenu > li > span {
        margin-left: 0 !important;
    }
    .megamenu > li .drop,
    .megamenu > li .nodrop {
        width: 100%;
        border-top: 1px solid rgba(100,100,100,0.2);
        border-bottom: 1px solid rgba(0,0,0,0.3);
        display: inline-block;
    }
    .megamenu > li:hover .drop,
    .megamenu > li:hover .nodrop {
        border-top-color: transparent !important;
    }
    .megamenu > li.active .drop,
    .megamenu > li.active .nodrop {
        border-bottom-color: rgba(255,255,255,0.1) !important;
    }
    .megamenu_fullwidth .col-row .col-half:first-child {
        margin-bottom: 20px;
    }
}
