
.learn-more-link,
footer ul li a:hover,
header ul li a:hover {
    text-decoration: underline
}

header ul,
header ul li {
    margin: 0;
    padding: 0;
    list-style-type: none
}

header ul li a {
    display: block;
    color: #575756;
    -webkit-transition: none;
    transition: none
}

header ul li a:hover {
    color: #406EB3
}

header ul li a:focus {
    outline: 0;
    color: #575756
}

header .container {
    padding-top: 0;
    padding-bottom: 0
}

.modal-content {
    border-radius: 5px;
    border: 0;
    background: #fff;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .5)
}

.modal-body {
    overflow: hidden
}

.modal-body a {
    color: #575756
}

.modal-body a:hover {
    color: #406EB3
}

#globalSitesModal button.close .exp-l053-close-icon,
.modal-title {
    color: #26478D
}

.modal-content .modal-body .global-sites-split ul {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    list-style-type: none
}

.modal-footer .btn-default {
    background: #26478D;
    border: 0;
    padding: 10px 40px
}

.modal-footer .btn-default:before {
    background: #406EB3
}

#globalSitesModal .modal-dialog {
    width: 1113px;
    margin: 250px auto 0
}

#globalSitesModal .modal-header {
    padding: 0;
    border: 0
}

#globalSitesModal button.close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    opacity: 1
}

#globalSitesModal .modal-content {
    background: 0 0
}

#globalSitesModal .modal-body {
    padding: 0
}

#globalSitesModal .modal-half {
    float: left;
    padding: 85px 50px
}

#globalSitesModal .modal-half.first {
    width: 50%;
    background: url(/global-files/images/global_sites_modal_bg.jpg) top 0 left 0 no-repeat;
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

#globalSitesModal .modal-half.first h2 {
    width: 300px;
    margin: 0;
    color: #fff
}

#globalSitesModal .modal-half.second {
    width: 50%;
    padding: 85px 30px;
    background: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

#globalSitesModal .modal-half.second .global-sites-split {
    width: 50%
}

#globalSitesModal .modal-half.second .global-sites-split ul {
    width: 50%;
    margin: 0;
    padding: 0;
    list-style-type: none
}

.logo {
    position: relative;
    display: block;
    float: left;
    width: 140px;
    height: 40px
}

.logo-img {
    width: 150px;
    height: 50px;
    background: url(//image.experiandirect.com/Marketing/OPT/experian/logo-rb.svg?x=20161215) no-repeat;
    background-size: 100%;
    -webkit-transition: none;
    transition: none;
    position: absolute;
    top: -6px;
    left: 0
}

.learn-more-link:active,
.learn-more-link:focus,
.learn-more-link:hover {
    color: #406EB3;
    text-decoration: underline
}

#back-to-top {
    z-index: 98;
    position: fixed;
    bottom: 40px;
    right: 40px;
    opacity: 0;
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
    cursor: pointer;
    text-shadow: 0 8px 20px rgba(0, 0, 0, .25)
}

#back-to-top {
    font-size: 40px;
    color: #AE3E92
}

ul.left-global-nav li:not(:last-child),
ul.right-global-nav li:not(:last-child),
ul.left-main-nav li {
    padding: 0 30px 0 0;
}

ul.left-main-nav li.search-icons,
ul.left-main-nav li.search-container {
    padding: 0;
}

ul.left-main-nav li {
    text-align: left;
}


@media screen and (min-width:992px) {
    header .main-nav-container-fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 64px;
        padding: 10px 0;
        transition: height .1s;
        -webkit-transition: height .1s
    }
    header .main-nav-container-fixed .logo-img {
        width: 36px;
        height: 46px;
        margin: 0;
        background: url(//image.experiandirect.com/Marketing/OPT/experian/logo-bug-rb.svg?x=20161215) no-repeat;
        position: static;
        background-size: 100%;
        top: 0
    }
    .main-nav-container.main-nav-container-fixed ul.nav-dropdown {
        padding-top: 30px;
    }
    .main-nav-container.main-nav-container-fixed li.search-open {
        top: 62px;
    }
    .main-nav-container.main-nav-container-fixed .left-main-nav {
        margin-left: 0
    }
    .main-nav-container.main-nav-container-fixed .logo {
        width: 70px
    }
    .dropdown-shadow,
    .main-nav-container {
        box-shadow: 0 3px 10px rgba(0, 0, 0, .17);
        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .17)
    }
    .flex-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }
    .login .exp-l061-existing-icon,
    .mobile-advice-dropdown-link,
    .mobile-all-link,
    .mobile-dropdown-link,
    .nav-toggle,
    .search-closed .floating-label-form-group .form-submit,
    .search-closed .floating-label-form-group input,
    .search-closed .floating-label-form-group textarea {
        display: none
    }
    .global-nav-container {
        position: relative;
        top: -94px;
        padding: 15px 0;
        background: #f4f4f4
    }
    .global-nav-container a {
        font-size: 14px
    }
    .left-global-nav {
        float: left;
        width: 278px
    }
    .right-global-nav {
        float: right;
        width: 459px;
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }
    .active,
    .global-consumer-link a {
        color: #26478D
    }
    .active:hover,
    .global-consumer-link a:hover {
        color: #26478D;
        text-decoration: none
    }
    .main-nav-container {
        position: relative;
        top: 50px;
        padding: 27px 0;
        background: #fff;
        -webkit-transition: height .1s;
        transition: height .1s;
        height: 93px
    }
    .left-main-nav {
        float: left;
        width: 455px;
        margin: 10px 0 0 42px
    }
    ul.left-global-nav .nav-dropdown li,
    ul.right-global-nav .nav-dropdown li,
    ul.left-main-nav .nav-dropdown li {
        padding: 0
    }
    .left-main-nav.acr-link-width {
        width: 575px
    }
    .login {
        position: absolute;
        right: 40px
    }
    .search-icons {
        position: absolute;
        right: 15px
    }
    .main-nav-item {
        position: relative;
    }
    .main-nav-item a {
        -webkit-transition: none;
        transition: none
    }
    .advice-nav-sub-items,
    .nav-dropdown {
        -moz-transition: all 0s linear .1s, opacity .1s linear;
        -o-transition: all 0s linear .1s, opacity .1s linear;
        -webkit-transition: all 0s linear .1s, opacity .1s linear;
        cursor: pointer
    }
    .nav-dropdown {
        visibility: hidden;
        padding-top: 42px;
        position: absolute;
        top: 32px;
        z-index: 9999;
        opacity: 0;
        -webkit-transition: all 0s linear .1s, opacity .1s linear;
        transition: all 0s linear .1s, opacity .1s linear
    }
    .nav-dropdown-01 {
        width: 289px
    }
    .nav-dropdown-02 {
        width: 235px
    }
    .acr-dropdown-width {
        width: 292px
    }
    .nav-dropdown-03 {
        width: 230px
    }
    .nav-dropdown-04 {
        width: 300px
    }
    .main-nav-item:hover .nav-dropdown {
        visibility: visible;
        opacity: 1;
        top: 22px;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-duration: .3s;
        transition-duration: .3s
    }
    .nav-dropdown li {
        background: #fff;
        border-left: 5px solid #26478D
    }
    .advice-nav-item:hover,
    .advice-nav-sub-items,
    .nav-dropdown li:hover {
        background: #f4f4f4
    }
    .nav-dropdown li a {
        padding: 20px
    }
    .advice-nav-item a.main-link {
        position: relative
    }
    .advice-nav-item a .exp-l039-right-icon {
        position: absolute;
        top: 26px;
        right: 18px;
        color: #26478D;
        font-size: 12px
    }
    .main-nav-container-fixed .advice-nav-sub-items,
    .main-nav-container-fixed .advice-nav-item:hover .advice-nav-sub-items {
        top: 30px;
    }
    .advice-nav-sub-items {
        box-shadow: 4px 3px 10px rgba(0, 0, 0, .17);
        width: 210px;
        height: 448px;
        visibility: hidden;
        position: absolute;
        top: 42px;
        left: 220px;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all 0s linear .1s, opacity .1s linear;
        transition: all 0s linear .1s, opacity .1s linear
    }
    .advice-nav-item:hover .advice-nav-sub-items {
        visibility: visible;
        opacity: 1;
        top: 42px;
        left: 300px;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-duration: .3s;
        transition-duration: .3s
    }
    .advice-nav-sub-items li {
        background: #f4f4f4;
        border: 0
    }
    .sub-nav-wrap {
        position: absolute;
        top: 0;
        right: -100px;
        height: 448px;
        box-shadow: 6px 3px 10px rgba(0, 0, 0, .17)
    }
    header .floating-label-form-group {
        margin-bottom: 0;
        border: none
    }
    .search-icons:hover {
        cursor: pointer
    }
    .search-container {
        position: absolute;
        overflow: hidden;
        right: 15px;
        width: 300px;
        text-align: center;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .17);
        background: #fff;
        border-left: 5px solid #26478D
    }
    .search-closed {
        position: absolute;
        top: 97px;
        z-index: 9999;
        opacity: 0;
        -webkit-transition: all 0s linear .1s, opacity .1s linear;
        transition: all 0s linear .1s, opacity .1s linear
    }
    .search-open {
        cursor: pointer;
        opacity: 1;
        z-index: 1;
        top: 75px;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-duration: .3s;
        transition-duration: .3s
    }
    .icon-visible {
        display: inline;
        color: #26478D;
        font-size: 22px;
        font-weight: 600
    }
    .icon-hidden,
    header .form-submit-bg {
        display: none
    }
    header form {
        margin: 10px 0
    }
    header .floating-label-form-group .exp-l042-search-icon {
        color: #575756;
        top: 15px;
        right: 25px;
        font-size: 20px;
        position: absolute
    }
    .advice-nav-sub-items li a {
        padding: 16px 20px
    }
}

@media screen and (max-width:1199px) and (min-width:992px) {
    #globalSitesModal .modal-dialog {
        width: 930px
    }
    #globalSitesModal .modal-half.first {
        width: 40%
    }
    #globalSitesModal .modal-half.second {
        width: 60%
    }
    ul.left-global-nav li:not(:last-child),
    ul.right-global-nav li:not(:last-child),
    ul.left-main-nav li {
        padding: 0 24px 0 0;
    }
    .login {
        right: 40px;
    }
    .left-global-nav {
        width: 290px
    }
    ul.left-global-nav li {
        padding: 0 24px 0 0;
    }
    .right-global-nav {
        width: 459px;
    }
    .left-main-nav {
        width: 440px
    }
    .left-main-nav.acr-link-width {
        width: 549px
    }
    .login {
        right: 67px
    }
    .nav-dropdown-04 {
        width: 225px
    }
    .nav-dropdown-04-acr {
        left: -100px
    }
    .advice-nav-item:hover .advice-nav-sub-items {
        left: 225px
    }
    .advice-nav-sub-items {
        width: 185px
    }
}

@media screen and (max-width:991px) {
    
    nav {
        overflow: hidden
    }
    .mobile-advice-dropdown-link:hover,
    .nav-toggle.closed:hover,
    .nav-toggle:hover {
        cursor: pointer
    }
    #globalSitesModal .modal-dialog {
        width: 700px;
        margin: 150px auto 0
    }
    #globalSitesModal .modal-half.first,
    #globalSitesModal .modal-half.second {
        width: 100%;
        float: none;
        padding: 50px 15px
    }
    #globalSitesModal .modal-half.first {
        border-bottom-left-radius: 0;
        border-top-right-radius: 6px
    }
    #globalSitesModal .modal-half.second {
        border-top-right-radius: 0;
        border-bottom-left-radius: 6px
    }
    #globalSitesModal .modal-half.first h2 {
        width: 100%;
        text-align: center
    }
    #globalSitesModal button.close {
        text-shadow: none
    }
    #globalSitesModal button.close .exp-l053-close-icon {
        color: #fff
    }
    #back-to-top {
        bottom: 20px;
        right: 20px
    }
   
    header {
        position: relative;
        height: 64px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .17);
        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .17);
        -webkit-appearance: none;
       
    }
    nav {
        background: #26478D;
        z-index: 4;
        width: 100%
    }
    header .container {
        width: 100%
    }
    header ul li {
        margin-bottom: 15px;
        position: relative
    }
    header ul li a {
        color: #fff
    }
    header ul li a:focus,
    header ul li a:hover {
        color: #fff;
        outline: 0
    }
    header.main-nav-container-fixed-mobile {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 64px;
        transition: height .1s;
        -webkit-transition: height .1s;
        
    }
   .fixed-main header.main-nav-container-fixed-mobile,  .fixed-main header  {position: static; height:100%; }
    
    .mobile-top-bg {
        width: 100%;
        height: 64px;
        background: #fff;
        position: absolute
    }
    .mobile-dropdown-link {
        display: block;
        color: #fff;
        font-size: 18px
    }
    .no-touch .mobile-dropdown-link:hover {
        text-decoration: underline;
         cursor: pointer;
    }
    
    nav.mobile-nav-closed {
        height: 64px;
        -webkit-transition: height 0.15s ease-in-out;
        transition: height .15s ease-in-out ;
    }
    
    .fixed-main header, .fixed-main header.main-nav-container-fixed-mobile{height:100%}
    nav.mobile-nav-open {
        width: 100%;
        -webkit-transition: height 0.15s ease-in-out;
        transition: height .15s ease-in-out;
        height: 100%;
        z-index: 100;
        position:absolute;
       overflow:scroll;
        bottom: 0px;
        top: 0px;
        left: 0;
        right: 0;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
       
    }

  

    .advice-nav-sub-items,
    .mobile-top-header,
    .nav-dropdown {
        overflow: hidden
    }
    header.main-nav-container-fixed-mobile .mobile-nav-closed {
        height: 50px
    }
    .nav-toggle {
        display: block;
        padding: 24px 17px;
        box-sizing: content-box;
        position: absolute;
        right: 0;
        background: #26478D
    }
    .nav-toggle.closed {
        background: #fff
    }
    .no-touch .nav-toggle.closed:hover {
        background: #f4f4f4
    }
    .toggle-bar {
        display: block;
        width: 23px;
        height: 2px;
        margin-bottom: 5px;
        float: right;
        clear: both;
        background: #fff;
        -webkit-transition: all .2s;
        transition: all .2s
    }
    .desktop-dropdown-link,
    .global-consumer-link,
    .search-icons,
    header .form-submit-bg {
        display: none
    }
    .toggle-bar.middle-bar {
        width: 30px
    }
    .nav-toggle .top-bar {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 0 10%;
        transform-origin: 0 10%
    }
    .nav-toggle .middle-bar {
        opacity: 0
    }
    .nav-toggle .bottom-bar {
        margin: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 10% 90%;
        transform-origin: 10% 90%
    }
    .nav-toggle.closed .top-bar {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        background: #26478D
    }
    .nav-toggle.closed .middle-bar {
        opacity: 1;
        background: #26478D
    }
    .nav-toggle.closed .bottom-bar {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        background: #26478D
    }
    .logo {
        height: 64px
    }
    .logo-img {
        width: 117px;
        height: 42px;
        margin: 12px 0 0;
        position: static;
        background-size: 100%
    }
    header.main-nav-container-fixed-mobile nav.mobile-nav-closed .logo,
    header.main-nav-container-fixed-mobile nav.mobile-nav-closed .mobile-top-bg {
        height: 50px
    }
    ul.left-global-nav li:not(:last-child),
    ul.right-global-nav li:not(:last-child),
    ul.left-main-nav li {
        padding: 0;
    }
    #main {
        margin-top: 0;
    }
    header.main-nav-container-fixed-mobile ~ #main {
        margin-top: 60px;
    }
    header.main-nav-container-fixed-mobile .logo-img,
    nav.mobile-nav-open .logo-img {
        width: 28px;
        margin: 8px 0 0;
        height: 37px;
        background: url(//image.experiandirect.com/Marketing/OPT/experian/logo-bug-rb.svg?x=20161215) no-repeat
    }
    header.main-nav-container-fixed-mobile nav.mobile-nav-closed .logo-img {
        width: 28px;
        margin-top: 8px;
        background: url(//image.experiandirect.com/Marketing/OPT/experian/logo-bug-rb.svg?x=20161215) no-repeat
    }
    header.main-nav-container-fixed-mobile .logo-img,
    header nav.mobile-nav-open .logo-img {
        width: 117px;
        height: 42px;
        margin: 12px 0 0;
        background: url(//image.experiandirect.com/Marketing/OPT/experian/logo-rb.svg?x=20161215) no-repeat;
        position: static;
        background-size: 100%;
        top: 0;
        left: 0
    }
    header.main-nav-container-fixed-mobile {
        height: 50px
    }
    header.main-nav-container-fixed-mobile nav.mobile-nav-open .logo,
    header.main-nav-container-fixed-mobile nav.mobile-nav-open .mobile-top-bg {
        height: 64px
    }
    header.main-nav-container-fixed-mobile .nav-toggle {
        padding: 17px
    }
    header.main-nav-container-fixed-mobile nav.mobile-nav-open .nav-toggle {
        padding: 24px 17px
    }
    header.main-nav-container-fixed-mobile .toggle17 {
        padding: 17px
    }
    .search-container {
        margin-top: 30px
    }
    .search-form {
        position: relative
    }
    header .floating-label-form-group {
        background: #fff;
        padding: 0 25px
    }
    header .floating-label-form-group .exp-l042-search-icon {
        color: #575756;
        top: 15px;
        right: 25px;
        font-size: 20px
    }
    .desktop-dropdown-link-sem,
    .global-nav-container ul li a,
    .login a {
        font-size: 18px
    }
    .login {
        padding-left: 28px;
    }
    ul.left-main-nav li.login {
        padding-left: 28px;
    }
    .login .exp-l061-existing-icon {
        color: #fff;
        position: absolute;
        top: 3px;
        left: 0;
        font-size: 18px
    }
    header .main-nav-item .closed {
        max-height: 0;
        -webkit-transition: max-height .15s ease-out;
        transition: max-height .15s ease-out
    }
    header .main-nav-item .open {
        max-height: 640px;
        -webkit-transition: max-height .25s ease-in;
        transition: max-height .25s ease-in
    }
    .desktop-dropdown-link-sem {
        display: block
    }
    .main-nav-item {
        position: relative
    }
    .advice-nav-item a.main-link {
        display: none
    }
    .mobile-advice-dropdown-link {
        display: block;
        padding: 0 0 0 20px;
        font-size: 16px;
        color: #fff
    }
    .mobile-advice-dropdown-link .dropdown-state {
        right: 20px
    }
    .mobile-advice-dropdown-link .minus {
        right: 23px
    }
    header .advice-nav-item .closed {
        max-height: 0;
        -webkit-transition: max-height .15s ease-out;
        transition: max-height .15s ease-out
    }
    header .advice-nav-item .open {
        max-height: 640px;
        -webkit-transition: max-height .25s ease-in;
        transition: max-height .25s ease-in
    }
    ul.left-main-nav .advice-nav-sub-items li {
        margin: 0;
        padding: 5px 40px
    }
    .nav-dropdown .advice-nav-sub-items li a {
        display: inline;
        padding: 0;
        color: #fff;
        font-size: 14px
    }
    .left-global-nav,
    .right-global-nav {
        padding-top: 15px
    }
    .dropdown-state.plus::after {
        content: "+"
    }
    .dropdown-state.minus::after {
        content: "-"
    }
    header .minus,
    header .plus {
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 22px;
        line-height: 14px
    }
    header .minus {
        right: 3px
    }
    .left-global-nav {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff
    }
    .nav-dropdown li a {
        padding-left: 10px;
        font-size: 16px
    }
    .dropdown-shadow {
        margin-top: 20px
    }
    .nav-dropdown-04 .mobile-all-link a {
        padding-left: 20px
    }
}

@media screen and (max-width:767px) {
    #globalSitesModal .modal-dialog {
        width: auto;
        margin: 75px 15px 0
    }
    #globalSitesModal .modal-half.first {
        padding: 70px 15px
    }
}

@media screen and (max-width:499px) {
    #globalSitesModal .modal-half.second .global-sites-split ul {
        width: 100%
    }
}

#follow-us,
#get-app {
    width: 254px
}

footer {
    background: #fff
}

footer:before {
    background: #3863AA;
    background: -webkit-linear-gradient(top left, #B12972 25%, #3863AA 100%);
    background: linear-gradient(to bottom right, #B12972 25%, #3863AA 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#B12972', endColorstr='#3863AA', GradientType=0);
    height: 3px;
    width: 100%;
    content: " ";
    float: left;
    margin-top: 0
}

footer .container {
    padding-bottom: 0
}

footer ul,
footer ul li {
    margin: 0;
    padding: 0;
    list-style-type: none
}

footer ul li a:hover {
    color: #406EB3
}

.footer-text-links-container li {
    position: relative;
    margin: 0 0 10px
}

.footer-text-links-container li a {
    color: #575756
}

.footer-text-links-container li.first a {
    color: #26478D;
    font-weight: 400
}

footer .minus-contract,
footer .mobile-dropdown-link,
footer .plus-expand {
    display: none
}

#app-badge-container,
#social-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 254px
}

#social-icon-container li a {
    display: block
}

#social-icon-container li a:active,
#social-icon-container li a:focus,
#social-icon-container li a:hover {
    text-decoration: none;
    color: #ddd
}

#social-icon-container li a span {
    display: block;
    font-size: 42px;
    color: #ddd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#social-icon-container li a span:hover {
    color: #26478D;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

#follow-us {
    margin-top: 20px
}

.app-badge {
    display: inline-block;
    width: 120px;
    height: 36px
}

#app-store {
    background: url(//image.experiandirect.com/marketing/OPT/Experian/app_store.svg) no-repeat
}

#play-store {
    background: url(//image.experiandirect.com/marketing/OPT/Experian/play_store.svg) no-repeat
}

#mid-footer-container {
    overflow: hidden;
    margin: 40px 0 0;
    padding: 40px 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd
}

.mid-footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.mid-footer-links.first-row {
    width: 51%;
    float: left
}

.mid-footer-links.last-row {
    width: 43%;
    float: right
}

.mid-footer-links li a {
    display: block;
    color: #575756
}

.container.bot-footer {
    padding-top: 0
}

.bot-footer-container {
    overflow: hidden;
    margin: 40px 0 0;
    text-align: center
}

.bot-footer-container small {
    display: block;
    margin: 0 0 15px
}

.bot-footer-container small.last {
    margin: 0
}

@media screen and (max-width:1559px) {
    .mid-footer-links.first-row {
        width: 51%;
        float: left
    }
    .mid-footer-links.last-row {
        width: 45%;
        float: right
    }
}

@media screen and (max-width:1199px) {
    #app-badge-container,
    #follow-us,
    #get-app,
    #social-icon-container {
        width: 100%;
        text-align: center
    }
    #app-badge-container {
        display: block
    }
    .mid-footer-links.first-row {
        width: 60%;
        margin: 0 auto;
        float: none
    }
    .mid-footer-links.last-row {
        width: 52%;
        margin: 20px auto 0;
        float: none
    }
}

@media screen and (max-width:991px) {
    .footer-text-links-container {
        margin: 0 0 15px;
        overflow: hidden
    }
    .footer-text-links-container li {
        position: relative;
        margin: 0 10px 10px
    }
    .footer-text-links-container li.first {
        margin: 0 0 10px
    }
    .footer-text-links-container li.first a {
        display: none
    }
    footer .mobile-dropdown-link {
        display: block;
        color: #105cae
    }
    
    .dropdown-state.plus::after {
        content: "+"
    }
    .dropdown-state.minus::after {
        content: "-"
    }
    footer .minus,
    footer .plus {
        position: absolute;
        top: 5px;
        right: 0;
        color: #26478D;
        font-size: 20px;
        font-weight: 400;
        line-height: 13px
    }
    footer .minus {
        right: 3px
    }
    .footer-text-links-container li.first:hover {
        cursor: pointer
    }
    footer .closed {
        max-height: 35px;
        -webkit-transition: max-height .15s ease-out;
        transition: max-height .15s ease-out
    }
    footer .open {
        max-height: 500px;
        -webkit-transition: max-height .25s ease-in;
        transition: max-height .25s ease-in
    }
    #social-icon-container {
        width: 300px;
        margin: 9.5px auto 0
    }
    #app-store {
        margin: 0 10px 0 0
    }
    .mid-footer-links.first-row {
        width: 80%
    }
    .mid-footer-links.last-row {
        width: 70%
    }
}

@media screen and (max-width:767px) {
    .mid-footer-links.first-row {
        width: 95%
    }
    .mid-footer-links.last-row {
        width: 85%
    }
}

@media screen and (max-width:599px) {
    .mid-footer-links {
        display: block;
        text-align: center
    }
    .mid-footer-links.first-row {
        width: 100%
    }
    .mid-footer-links.last-row {
        width: 100%;
        margin: 0
    }
    .mid-footer-links li {
        margin: 0 0 10px
    }
    .mid-footer-links li.last {
        margin: 0
    }
}