<div class="megamenu_bar"></div>
<div class="megamenu_wrapper megamenu_fixed">
    <ul class="megamenu">
        <li class="megamenu_button"><span>Menu</span></li>
        <li>
            <a class="nodrop" href="index.html">Home</a>
        </li>
        <li>
            <a class="nodrop">About Us</a>
        </li>
        <li>
            <span class="drop">TV</span>
            <div class="megamenu_fullwidth">
                <p>DROP DOWN CONTENT</p>
            </div>
        </li>
        <li>
            <a class="nodrop" href="world-map-imps.html">Inventory</a>
        </li>
        <li>
            <span class="drop">3rd Party Data</span>
            <div class="megamenu_fullwidth">
                <div class="col-row">
                    <div class="col-half">
                        <h3>Suppliers Available</h3>

                    </div>
                    <div class="col-half">
                        <h3>What is a DMP?</h3>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="http://www.youtube.com/embed/QInrK3S-0Mg?wmode=transparent"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a class="nodrop" href="contact.html">Contact</a>
        </li>
        <li>
            <a class="nodrop" href="https://docs.google.com/a/rtb.cat/forms/d/e/1FAIpQLSeCU2430zqJNNj9IGNRtMhvPfQsmQCvtvySBnUIyDAF0as_Zw/viewform">Integrate</a>
        </li>
    </ul>
</div>
